{% extends 'users/base.html' %}

<script>
    $(document).ready(function(){
       setTitle("Pit Data");
    });
</script>
{%block styles%} 
<link rel="stylesheet" href="../../static/users/assets/css/data.css">
<link rel="stylesheet" href="../../static/users/assets/css/hub.css">

{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<br>
<br>
<br>
<br>

<center><h1 id="media-header">Game Scouting Data For Team</h1></center>
<hr>
<center><p class="choicepercent">{{stat.team.team_num}}</p></center>
<hr>
<center><p class="warning"><strong>It is best to view chart data in light mode</strong></p>
<hr>
<center><h1>Autonomous</h1></center>
<canvas id="myChart16"></canvas>
<canvas id="myChart"></canvas>
<canvas id="myChart2"></canvas>
<canvas id="myChart3"></canvas>
<hr>
<center><h1>MidGame</h1></center>
<canvas id="myChart4"></canvas>
<canvas id="myChart5"></canvas>
<canvas id="myChart6"></canvas>
<canvas id="myChart7"></canvas>
<canvas id="myChart8"></canvas>
<hr>
<center><h1>EndGame</h1>
<br>
<canvas id="myChart9"></canvas>
<canvas id="myChart10"></canvas>
<canvas id="myChart11"></canvas>
<canvas id="myChart12"></canvas>
<canvas id="myChart13"></canvas>
<canvas id="myChart14"></canvas>
<canvas id="myChart15"></canvas>

<br>
<center><p class="questions"><strong>Notes</strong></p>
<div id="textBlock">
        <p id="notes"><strong>{{object.notes}}</strong></p>
    </div>
<br>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Autonomous Low Goal Points',
            data: {{data.auto_low_goal_scored|safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
                        borderColor: [
                            //'rgba(255, 99, 132, 1)',
                            //'rgba(54, 162, 235, 1)',
                            'rgba(50, 50, 255, 0.4)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart2');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Autonomous High Outer Goal Points',
            data: {{data.auto_outer_goal_scored | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
<script>
var ctx = document.getElementById('myChart3');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Autonomous High Inner Goal Points',
            data: {{data.auto_inner_goal_scored | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById('myChart4');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Low Goal Points',
            data: {{data.low_goal_scored | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart5');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'High Outer Goal Points',
            data: {{data.outer_goal_scored | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart6');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'High Inner Goal Points',
            data: {{data.inner_goal_scored | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<br>

<br>
<script>
var ctx = document.getElementById('myChart7');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Control Panel Rotational Control',
            data: {{data.control_panel_rot | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<br>
<script>
var ctx = document.getElementById('myChart8');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Control Panel Positional Control',
            data: {{data.control_panel_pos | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart9');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Climb',
            data: {{data.robot_climb | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart10');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Buddy Climb',
            data: {{data.robot_climb_help| safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart11');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Level The Generator',
            data: {{data.robot_generator | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart12');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Defense Played',
            data: {{data.defense_percentage | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<!--<script>
var ctx = document.getElementById('myChart13');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Penalties',
            data: {{data.penalties | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>-->
<br>

{%endblock content%}
