{% extends 'users/base.html' %}

<script>
    $(document).ready(function () {
        setTitle("Pit Data");
    });
</script>
{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/data.css">
<link rel="stylesheet" href="../../static/users/assets/css/hub.css">
<link rel="stylesheet" href="../../../static/users/assets/css/bg.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>
<div class='stat-navigation'>
</div>
    <center><div class='stat-nav'>
    <ul class='stat-navigation-ul'>
        <li><a class='stat-nav-link' href="#general">General</a></li><br>
        <hr>
        <li><a class='stat-nav-link' href="#auto">Autonomous</a></li><br>
        <hr>
        <li><a class='stat-nav-link' href="#mid">Midgame</a></li><br>
        <hr>
        <li><a class='stat-nav-link' href="#end">Endgame</a></li>
    </ul>
    </div></center>

<br>
<br>
<br>
<br>
{% if score %}
<script>
    window.onload = async function avgScores() {

        //-----------------------------------------------------------

        var auto_low_data = {{data.auto_low_goal_scored | safe}}
        var AUTO_LOW_DATA = auto_low_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < AUTO_LOW_DATA.length; i++) {
            total += AUTO_LOW_DATA[i];
        }
        var auto_low_avg = total / AUTO_LOW_DATA.length;


        //===========================================================

        var auto_outer_data = {{data.auto_outer_goal_scored | safe}}
        var AUTO_OUTER_DATA = auto_outer_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < AUTO_LOW_DATA.length; i++) {
            total += AUTO_OUTER_DATA[i];
        }
        var auto_outer_avg = total / AUTO_OUTER_DATA.length;
        console.log(auto_outer_avg)

        //===========================================================

        var auto_inner_data = {{data.auto_inner_goal_scored | safe}}
        var AUTO_INNER_DATA = auto_inner_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < AUTO_INNER_DATA.length; i++) {
            total += AUTO_INNER_DATA[i];
        }
        var auto_inner_avg = total / AUTO_INNER_DATA.length;

        //===========================================================

        var mid_low_data = {{data.low_goal_scored | safe}}
        var MID_LOW_DATA = mid_low_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < MID_LOW_DATA.length; i++) {
            total += MID_LOW_DATA[i];
        }
        var mid_low_avg = total / MID_LOW_DATA.length;

        //===========================================================

        var mid_outer_data = {{data.outer_goal_scored | safe}}
        var MID_OUTER_DATA = mid_outer_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < MID_LOW_DATA.length; i++) {
            total += MID_OUTER_DATA[i];
        }
        var mid_outer_avg = total / MID_OUTER_DATA.length;

        //===========================================================

        var mid_inner_data = {{data.inner_goal_scored | safe}}
        var MID_INNER_DATA = mid_inner_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < MID_INNER_DATA.length; i++) {
            total += MID_INNER_DATA[i];
        }
        var mid_inner_avg = total / MID_INNER_DATA.length;

        //-----------------------------------------------------------

        //gets all arrays
        var auto_low_data = {{data.auto_low_goal_scored | safe}}
        var auto_outer_data = {{data.auto_outer_goal_scored | safe}}
        var auto_inner_data = {{data.auto_inner_goal_scored | safe}}

        //joins all arrays together
        var auto = [].concat(auto_low_data, auto_outer_data, auto_inner_data);

        //averages the joined arrays
        var AUTO_DATA = auto.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < AUTO_DATA.length; i++) {
            total += AUTO_DATA[i];
        }
        var auto_avg = total / AUTO_DATA.length;
        document.getElementById('avg-auto-points').innerHTML = auto_avg

        var mid_low_data = {{data.low_goal_scored | safe}}
        var mid_outer_data = {{data.outer_goal_scored | safe}}
        var mid_inner_data = {{data.inner_goal_scored | safe}}

        var auto = [].concat(mid_low_data, mid_outer_data, mid_inner_data);

        var MID_DATA = auto.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < MID_DATA.length; i++) {
            total += MID_DATA[i];
        }
        var mid_avg = total / MID_DATA.length;
        document.getElementById('avg-mid-points').innerHTML = mid_avg


        var climb_data = {{data.robot_climb | safe}}
        var CLIMB_DATA = climb_data.map(i => Number(i))

        var total = 0;
        for (var i = 0; i < CLIMB_DATA.length; i++) {
            CLIMB_DATA.splice(CLIMB_DATA.indexOf(100), 1, 1)
            total += CLIMB_DATA[i];
        }
        var climb_avg = total / CLIMB_DATA.length;
        document.getElementById('avg-climb').innerHTML = climb_avg
        console.log(climb_avg, CLIMB_DATA)

        var cp_rot_data = {{data.control_panel_rot | safe}}
        var ROT_DATA = cp_rot_data.map(i => Number(i))

        var total = 0;
        for (var i = 0; i < ROT_DATA.length; i++) {
            ROT_DATA.splice(ROT_DATA.indexOf(100), 1, 1)
            total += ROT_DATA[i];
        }
        var rot_avg = total / ROT_DATA.length;
        document.getElementById('avg-climb').innerHTML = rot_avg
        console.log(rot_avg, ROT_DATA)


        var cp_pos_data = {{data.control_panel_pos | safe}}
        var POS_DATA = cp_pos_data.map(i => Number(i))

        var total = 0;
        for (var i = 0; i < POS_DATA.length; i++) {
            POS_DATA.splice(POS_DATA.indexOf(100), 1, 1)
            total += POS_DATA[i];
        }
        var pos_avg = total / POS_DATA.length;
        document.getElementById('avg-climb').innerHTML = pos_avg

        var defense_data = {{data.defense_percentage | safe}}
        var DEF_DATA = defense_data.map(i => Number(i))

        var total = 0;
        for (var i = 0; i < DEF_DATA.length; i++) {
            total += DEF_DATA[i];
        }
        var def_avg = total / DEF_DATA.length;
        document.getElementById('avg-defense').innerHTML = def_avg + "%"

        var cp_rot = {{data.control_panel_rot | safe}}
        var cp_pos = {{data.control_panel_pos | safe}}

        //joins all arrays together
        var cp = [].concat(cp_rot, cp_pos);

        //averages the joined arrays
        var CP_DATA = cp.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < CP_DATA.length; i++) {
            total += CP_DATA[i];
        }
        var cp_avg = total / CP_DATA.length;
        console.log(cp_avg)
        document.getElementById('avg-cp').innerHTML = cp_avg + "%"


        new Chart(document.getElementById("radar-chart"), {
            type: 'radar',
            data: {
                labels: ["Average Auto Low Goal", "Average Auto Outer Goal", "Average Auto Inner Goal",
                    "Average Midgame Low Points", "Average Midgame Outer Points",
                    "Average Midgame Inner Points", "Average Climb",
                    "Average CP Rotational Control", "Average CP Positional Control"
                ],
                datasets: [{
                        label: "Regular Values",
                        fill: true,
                        backgroundColor: "rgba(83, 56, 255,0.2)",
                        borderColor: "rgba(83, 56, 255,1)",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "rgba(83, 56, 255,1)",
                        data: [auto_low_avg, auto_outer_avg, auto_inner_avg, mid_low_avg,
                            mid_outer_avg, mid_inner_avg, 0, 0, 0
                        ]
                    },
                    {
                        label: "Value/10",
                        fill: true,
                        backgroundColor: "rgba(255, 82, 82,.2)",
                        borderColor: "rgba(255, 82, 82,1)",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "rgba(255, 82, 82,1)",
                        pointBorderColor: "#fff",
                        data: [0, 0, 0, 0, 0, 0, climb_avg * 10, rot_avg * 10, pos_avg * 10]
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                    text: ''
                }
            }
        });

    }
</script>
{% else %}
<script>
    window.onload = async function avgScores() {

        //-----------------------------------------------------------

        var auto_low_data = {{data.auto_low_goal_scored | safe}}
        var AUTO_LOW_DATA = auto_low_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < AUTO_LOW_DATA.length; i++) {
            total += AUTO_LOW_DATA[i];
        }
        var auto_low_avg = total / AUTO_LOW_DATA.length;


        //===========================================================

        var auto_outer_data = {{data.auto_outer_goal_scored | safe}}
        var AUTO_OUTER_DATA = auto_outer_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < AUTO_LOW_DATA.length; i++) {
            total += AUTO_OUTER_DATA[i];
        }
        var auto_outer_avg = total / AUTO_OUTER_DATA.length;
        console.log(auto_outer_avg)

        //===========================================================

        var auto_inner_data = {{data.auto_inner_goal_scored | safe}}
        var AUTO_INNER_DATA = auto_inner_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < AUTO_INNER_DATA.length; i++) {
            total += AUTO_INNER_DATA[i];
        }
        var auto_inner_avg = total / AUTO_INNER_DATA.length;

        //===========================================================

        var mid_low_data = {{data.low_goal_scored | safe}}
        var MID_LOW_DATA = mid_low_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < MID_LOW_DATA.length; i++) {
            total += MID_LOW_DATA[i];
        }
        var mid_low_avg = total / MID_LOW_DATA.length;

        //===========================================================

        var mid_outer_data = {{data.outer_goal_scored | safe}}
        var MID_OUTER_DATA = mid_outer_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < MID_LOW_DATA.length; i++) {
            total += MID_OUTER_DATA[i];
        }
        var mid_outer_avg = total / MID_OUTER_DATA.length;

        //===========================================================

        var mid_inner_data = {{data.inner_goal_scored | safe}}
        var MID_INNER_DATA = mid_inner_data.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < MID_INNER_DATA.length; i++) {
            total += MID_INNER_DATA[i];
        }
        var mid_inner_avg = total / MID_INNER_DATA.length;

        //-----------------------------------------------------------

        //gets all arrays
        var auto_low_data = {{data.auto_low_goal_scored | safe}}
        var auto_outer_data = {{data.auto_outer_goal_scored | safe}}
        var auto_inner_data = {{data.auto_inner_goal_scored | safe}}

        //joins all arrays together
        var auto = [].concat(auto_low_data, auto_outer_data, auto_inner_data);

        //averages the joined arrays
        var AUTO_DATA = auto.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < AUTO_DATA.length; i++) {
            total += AUTO_DATA[i];
        }
        var auto_avg = total / AUTO_DATA.length;
        document.getElementById('avg-auto-points').innerHTML = auto_avg

        var mid_low_data = {{data.low_goal_scored | safe}}
        var mid_outer_data = {{data.outer_goal_scored | safe}}
        var mid_inner_data = {{data.inner_goal_scored | safe}}

        var auto = [].concat(mid_low_data, mid_outer_data, mid_inner_data);

        var MID_DATA = auto.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < MID_DATA.length; i++) {
            total += MID_DATA[i];
        }
        var mid_avg = total / MID_DATA.length;
        document.getElementById('avg-mid-points').innerHTML = mid_avg


        var climb_data = {{data.robot_climb | safe}}
        var CLIMB_DATA = climb_data.map(i => Number(i))

        var total = 0;
        for (var i = 0; i < CLIMB_DATA.length; i++) {
            CLIMB_DATA.splice(CLIMB_DATA.indexOf(100), 1, 1)
            total += CLIMB_DATA[i];
        }
        var climb_avg = total / CLIMB_DATA.length;
        document.getElementById('avg-climb').innerHTML = climb_avg
        console.log(climb_avg, CLIMB_DATA)

        var cp_rot_data = {{data.control_panel_rot | safe}}
        var ROT_DATA = cp_rot_data.map(i => Number(i))

        var total = 0;
        for (var i = 0; i < ROT_DATA.length; i++) {
            ROT_DATA.splice(ROT_DATA.indexOf(100), 1, 1)
            total += ROT_DATA[i];
        }
        var rot_avg = total / ROT_DATA.length;
        document.getElementById('avg-climb').innerHTML = rot_avg
        console.log(rot_avg, ROT_DATA)


        var cp_pos_data = {{data.control_panel_pos | safe}}
        var POS_DATA = cp_pos_data.map(i => Number(i))

        var total = 0;
        for (var i = 0; i < POS_DATA.length; i++) {
            POS_DATA.splice(POS_DATA.indexOf(100), 1, 1)
            total += POS_DATA[i];
        }
        var pos_avg = total / POS_DATA.length;
        document.getElementById('avg-climb').innerHTML = pos_avg

        var defense_data = {{data.defense_percentage | safe}}
        var DEF_DATA = defense_data.map(i => Number(i))

        var total = 0;
        for (var i = 0; i < DEF_DATA.length; i++) {
            total += DEF_DATA[i];
        }
        var def_avg = total / DEF_DATA.length;
        document.getElementById('avg-defense').innerHTML = def_avg + "%"

        var cp_rot = {{data.control_panel_rot | safe}}
        var cp_pos = {{data.control_panel_pos | safe}}

        //joins all arrays together
        var cp = [].concat(cp_rot, cp_pos);

        //averages the joined arrays
        var CP_DATA = cp.map(i => Number(i))
        var total = 0;
        for (var i = 0; i < CP_DATA.length; i++) {
            total += CP_DATA[i];
        }
        var cp_avg = total / CP_DATA.length;
        console.log(cp_avg)
        document.getElementById('avg-cp').innerHTML = cp_avg + "%"


        new Chart(document.getElementById("radar-chart"), {
            type: 'radar',
            data: {
                labels: ["Average Auto Low Goal", "Average Auto Outer Goal", "Average Auto Inner Goal",
                    "Average Midgame Low Points", "Average Midgame Outer Points",
                    "Average Midgame Inner Points", "Average Climb",
                    "Average CP Rotational Control", "Average CP Positional Control"
                ],
                datasets: [{
                        label: "Regular Values",
                        fill: true,
                        backgroundColor: "rgba(83, 56, 255,0.2)",
                        borderColor: "rgba(83, 56, 255,1)",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "rgba(83, 56, 255,1)",
                        data: [auto_low_avg * 2, auto_outer_avg * 4, auto_inner_avg * 6, mid_low_avg * 1,
                            mid_outer_avg * 2, mid_inner_avg * 3, 0, 0, 0
                        ]
                    },
                    {
                        label: "Value/10",
                        fill: true,
                        backgroundColor: "rgba(255, 82, 82,.2)",
                        borderColor: "rgba(255, 82, 82,1)",
                        pointBorderColor: "#fff",
                        pointBackgroundColor: "rgba(255, 82, 82,1)",
                        pointBorderColor: "#fff",
                        data: [0, 0, 0, 0, 0, 0, climb_avg * 10, rot_avg * 10, pos_avg * 10]
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                    text: ''
                }
            }
        });

    }
</script>

{% endif %}
<div>
<center>
    <h1 style='padding-top: 10px;' id="media-header">Pit Scouting Data for Team {{stat.team.team_num}}</h1>
    <script>
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + {{stat.team.team_num}} + "/simple", {
            "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
          }, function (data) {
            var jObject = (data);
            $("#nickname").html(jObject['nickname']);
          })
    </script>
    <p style='padding-top: 20px; font-size: 20px; font-weight: bold;' id='nickname'></p>
</center>
<hr>
<script>
    document.querySelector('body').addEventListener('keyup', function (e) {
        if(e.key == "s"){
            $('.stat-navigation').fadeToggle("fast");
            $('.stat-nav').fadeToggle("fast");
        }
      })
</script>
<div class="table-responsive" id='avg-table-data'>
    <table style="text-align: center;" class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Average Auto Points</th>
                <th scope="col">Average Midgame Points</th>
                <th scope="col">Average Control Panel Control</th>
                <th scope="col">Average Climb</th>
                <th scope="col">Average Defense Played</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="avg-auto-points"></td>
                <td id="avg-mid-points"></td>
                <td id="avg-cp"></td>
                <td id="avg-climb"></td>
                <td id="avg-defense"></td>
            </tr>

        </tbody>
    </table>
</div>
<section id='general'>
<center>
    <h1 style='padding-top: 55px;'>General Stats</h1>
</center>
<center>
    <div id="chart-container">
        <canvas id="radar-chart" width="800" height="600"></canvas>
    </div>
</center>
<center>
    <p>**RED COLORED VALUES ARE OUT OF TEN**</P>
</center>
</div>
</section>
<hr>
<center>
    <p class="warning"><strong>It is best to view chart data in light mode</strong></p>
    <a onclick='toggle()'>TOGGLE MODE</a>
    <hr>
    <section id='auto'>
    <center>
        <h1 style='padding-top: 55px;'>Autonomous</h1>
    </center>
    <div class="chart-container" ">
        <canvas id=" myChart16"></canvas>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart"></canvas>
        </div>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart2"></canvas>
        </div>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart3"></canvas>
        </div>
    </section>
        <hr>
        <section id='mid'>
        <center>
            
        <h1 style='padding-top: 55px;'>MidGame</h1>
        </center>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart4"></canvas>
        </div>

        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart5"></canvas>
        </div>

        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart6"></canvas>
        </div>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart7"></canvas>
        </div>
    </section>
        <hr>
        <center>
            <section id='end'>
            <h1 style='padding-top: 55px;'>EndGame</h1>
        </center>
        <br>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart9"></canvas>
        </div>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart10"></canvas>
        </div>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart11"></canvas>
        </div>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 30em;' width="1900" id="myChart12"></canvas>
        </div>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart13"></canvas>
        </div>
        <div style="max-width: 1900px;" class="chart-container">
            <canvas style='height: 20em;' width="1900" id="myChart14"></canvas>
        </div>
    </section>

    </div>
    <br>
    <center>
        <p class="questions"><strong>Notes</strong></p>
        {% for note in data.notes %}
        <div>
            <p>{{note}}</p>

        </div>
        </center>
        {%endfor%}

{% if score %}
        <script>
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous Low Goal Points',
                        data: {{data.auto_low_goal_scored | safe}},
                    }]


                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }




            });
        </script>
        <script>
            var ctx = document.getElementById('myChart2');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        data: {{data.auto_outer_goal_scored | safe}},
                    }]
                },

                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart3');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'Autonomous High Inner Goal Points',
                        data: {{data.auto_inner_goal_scored | safe}},

                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <script>
            var ctx = document.getElementById('myChart4');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'Low Goal Points',
                        data: {{data.low_goal_scored | safe}},
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart5');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'High Outer Goal Points',
                        data: {{data.outer_goal_scored | safe}},
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart6');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'High Inner Goal Points',
                        data: {{data.inner_goal_scored | safe}},
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <br>

        <br>
        <script>
            var ctx = document.getElementById('myChart7');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'Control Panel Rotational Control',
                        data: {{data.control_panel_rot | safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <br>
        <script>
            var ctx = document.getElementById('myChart9');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        label: 'Climb',
                        data: {{data.robot_climb | safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',


                        ],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart10');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        label: 'Buddy Climb',
                        data: {{data.robot_climb_help | safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',


                        ],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart11');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        label: 'Level The Generator',
                        data: {{data.robot_generator | safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',


                        ],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart12');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: true,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'High Inner Goal Points',
                        data: {{data.defense_percentage | safe}},
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        {% else %}
        <script>
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous Low Goal Points',
                        data: {{data.auto_low_goal_scored | safe}},
                    }]


                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }




            });
        </script>
        <script>
            var ctx = document.getElementById('myChart2');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        data: {{data.auto_outer_goal_scored | safe}},
                    }]
                },

                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart3');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'Autonomous High Inner Goal Points',
                        data: {{data.auto_inner_goal_scored | safe}},

                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <script>
            var ctx = document.getElementById('myChart4');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'Low Goal Points',
                        data: {{data.low_goal_scored | safe}},
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart5');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'High Outer Goal Points',
                        data: {{data.outer_goal_scored | safe}},
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart6');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: false,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'High Inner Goal Points',
                        data: {{data.inner_goal_scored | safe}},
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <br>

        <br>
        <script>
            var ctx = document.getElementById('myChart7');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'Control Panel Rotational Control',
                        data: {{data.control_panel_rot | safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <br>
        <script>
            var ctx = document.getElementById('myChart9');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        label: 'Climb',
                        data: {{data.robot_climb | safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',


                        ],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart10');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        label: 'Buddy Climb',
                        data: {{data.robot_climb_help | safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',


                        ],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart11');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        label: 'Level The Generator',
                        data: {{data.robot_generator | safe}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',


                        ],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        <script>
            var ctx = document.getElementById('myChart12');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{data.match_number | safe}},
                    datasets: [{
                        fill: true,
                        lineTenstion: 0.1,
                        backgroundColor: "rgba(75, 192,192, 0.4)",
                        borderColor: "rgba(75, 192,192, 1)",
                        borderCapStyle: "butt",
                        pointHoverWidth: 1,
                        pointHitRadius: 1,
                        pointRadius: 1,
                        borderWidth: 3,
                        label: 'Autonomous High Outer Goal Points',
                        label: 'High Inner Goal Points',
                        data: {{data.defense_percentage | safe}},
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        {% endif %}
        <!--<script>
var ctx = document.getElementById('myChart13');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{data.match_number | safe}},
        datasets: [{
            label: 'Penalties',
            data: {{data.penalties | safe}},
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',


            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>-->
</div>
<script>
    $('.stat-navigation').fadeOut();
    $('.stat-nav').fadeOut();
</script>
        {%endblock content%}