{%extends 'users/base.html'%}
{% load widget_tweaks %}
{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/scout.css">
<link rel="stylesheet" href="../../static/stats/assets/css/scout-button.css">

{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9154118566190557",
        enable_page_level_ads: true
    });
</script>
<link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>FRCS Scouting</title>
<script>
    async function changeName() {
        $(document).ready(function () {
            $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple", {
                "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
            }, function (data) {
                console.log(data);
                var jObject = (data);
                var name = (jObject['nickname']);
                console.log(name);
                document.getElementById("teamNumberHeader").innerHTML = " " + name;

            });
        });
    }
</script>

</body>

<style>
    .darkmode--activated i {
        color: black;
    }
</style>

<br>
<br>
<center><div style='width: 85%;'>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "error" %}
    <div class='alert alert-danger' role='alert'>{{message}}</div>
    {% endif %}
    {% if message.tags == "success" %}
    <div class='alert alert-success' role='alert'>{{message}}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div></center>
<div class="form">
    <div class="header">
        <h1 id="scoutfor">Pit Scouting</h1>
        <p id="teamNameHeader"></p>
    </div>

    <div class="formContents">
        <form method="post">
            {% csrf_token %}


            <p id="label">Team Number</p>
            {{ form.team_num|attr:"class:form-control"|attr:"placeholder:000"|attr:"id: teamNumber" |attr:"name: teamNumber" }}
            <br>

            <select id='select-comp-dropdown' class='custom-select'>
                <option>--SELECT COMPETITION--</option>
                <!--THIS COULD BE TEMPORAY IF WE FIGURE OUT HOW TO ADD COMPS TO A DJANGO SELECT WIDGET-->
                <script>
                    $(document).ready(function () {
                        window.onload = async function getComps() {
                            $.get("https://www.thebluealliance.com/api/v3/team/frc810/events/2020", {
                                "X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"
                            }, function (data) {
                                var jObject = (data);
    
                                for (i = 0; i < 5; i++) {
                                    console.log(jObject[i]['name'])
                                    $('#select-comp-dropdown').append('<option>' + jObject[i][
                                        'name'] + '</option>')
                                }
    
                            })
                        }
                    })
                </script>
            </select>

            <p id="label">Competition</p>
            {{ form.competition|attr:"class:form-control"|attr:"placeholder:Competition"|attr:"id: teamNumber" |attr:"name: teamNumber" }}
            <br>


            <p id="label">Robot Weight</p>
            {{form.robot_weight|attr:"class:form-control"|attr:"placeholder:000LBS"|attr:"id: teamNumber" }}

            <p id="label">Robot Frame Perimeter</p>
            {{ form.robot_frame_length|attr:"class:form-control"|attr:"placeholder:Robot Length"|attr:"id: dim" }}
            </br>
            {{ form.robot_frame_width|attr:"class:form-control"|attr:"placeholder:Robot Width"|attr:"id: dim" }}
            </br>

            <p id="label">DriveTrain Type</p>
            {{form.robot_drivetrain_type|attr:"class:form-control"}}
            <div id="tank1"></div>
            <div id="tank2"></div>
            <br>

            <p id="label">Are they a high or low bot</p>
            {{form.robot_highlow|attr:"class:form-control"}}
            <br>

            <p id="label">Do They Shoot For Low Goal, High Goal, Or Both</p>
            {{form.robot_goal|attr:"class:form-control"}}
            </br>

            <p id="label">Do they complete rotational control</p>
            {{form.robot_control_panel_rot|attr:"class:form-control"}}
            <br>

            <p id="label">Do they complete positional control</p>
            {{form.robot_control_panel_pos|attr:"class:form-control"}}
            <br>

            <p id="label">Do they perform in autonomous</p>
            {{form.robot_autonomous|attr:"class:form-control"}}
            <br>

            <p id="label">Vision Type</p>
            {{form.robot_vision_type|attr:"class:form-control"}}
            </br>

            <p id="label">Is Vision Implemented During The Match</p>
            {{form.robot_vision_implement|attr:"class:form-control"}}
            </br>


            <p id="label">Do They Climb</p>
            {{form.robot_climb|attr:"class:form-control"}}
            <br>

            <p id="label">Do They Help Others Climb</p>
            {{form.robot_buddy_climb|attr:"class:form-control"}}
            <br>

            <div id="autoPoints"></div>

            <label id="label" for="notes">Notes</label>
            <!--<textarea class="form-control" id="notes-text" rows="3"></textarea>-->
            {{ form.notes|attr:"class:form-control"|attr:"rows:3"|attr:"id: notes-text" }}
    </div>
    <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;" onchange="ShowButton()" />
    <label class="cbx" for="cbx"><span>
            <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg></span><span id="checkbox-text">Check to Confirm Submission</span></label>
    <br>
    <input id="submit" class="form-control" type="submit" value="Submit Scouting Data" class="submit_form" />
    </br>
    </form>
</div>
</div>
<script>
    function ShowButton() {
        var checkBox = document.getElementById("cbx");
        var text = document.getElementById("submit");

        if (checkBox.checked == true) {
            text.style.display = "block";
        }
        if (checkBox.checked == false) {
            text.style.display = "none";
        }
    }

    window.onload = function ShowButton() {
        var checkBox = document.getElementById("cbx");
        var text = document.getElementById("submit");
        if (checkBox.checked == true) {
            text.style.display = "block";
        }
        if (checkBox.checked == false) {
            text.style.display = "none";
        }
    }
</script>
</form>
</div>
<br>
<script src="../../static/stats/assets/js/button.js"></script>

{%endblock content%}