{% extends 'users/base.html' %}

<script>
    $(document).ready(function(){
       setTitle("Pit Data");
    });
</script>
{%block styles%} 
<style rel="stylesheet" href="../../../users/static/users/assets/css/pitdata.css"></style>
{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<br>
<br>
<br>
<br>

<center><h1 id="media-header">Pit Scouting Data</h1></center>
<br>
<br>
<center><div class="table-responsive-md"><table class="table table-bordered">
            <tr >
                <th id="scout-team-col" class="col-2">Scouted Team Number</th>
            </tr>
            <div>
            
            <tr>
                <td id="teamCount"><strong>0</strong></td>
 
            </tr>
        </table></div></center>
<style>
.darkmode--activated #scout-team-col{
    color: white;
}
</style>


{%endblock content%}
