{%extends 'users/base.html'%}
{% load widget_tweaks %}
{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/scout.css">
<link rel="stylesheet" href="../../static/stats/assets/css/scout-button.css">

{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9154118566190557",
        enable_page_level_ads: true
    });
</script>
<link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<title>FRCS Scouting</title>
<!--<script>
    async function changeName(){
        document.getElementById("teamNumber")[0].addEventListener('input', changeName);
        var teamNumber = this.value;
        
        $(document).ready(function () {
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple",{"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data) {
        console.log(data);
        var jObject = (data);
        var name = (jObject['nickname']);
        console.log(name);    
        document.getElementById("teamNumberHeader").innerHTML = " " + name;
    
    }) ;
});
}

function getTankOp(){
    var tank = $("#DTT option:selected").html();

    var op = '<p id="label">Tank Type</p><select onchange="getTankOp2()" name="TT" id="TT" class="custom-select"><option id="tank" value="4Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">4 Wheel</option><option id="tank" value="6Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">6 Wheel</option><option value="8Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">8 Wheel</option><option value="TankTread:4Wheel,6Wheel,8Wheel,TankTread,Other">Tank Treads</option><option value="Other:4Wheel,6Wheel,8Wheel,TankTread,Other">Other</option></select>'
    var op3 = '<p id="label">Tank Wheel Type</p><select name="TT" id="TT" class="custom-select"><option id="tank" value="4Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">4 Wheel</option><option id="tank" value="6Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">6 Wheel</option><option value="8Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">8 Wheel</option><option value="TankTread:4Wheel,6Wheel,8Wheel,TankTread,Other">Tank Treads</option><option value="Other:4Wheel,6Wheel,8Wheel,TankTread,Other">Other</option></select>'
    if(tank === "Tank"){
        document.getElementById('tank1').innerHTML = op;
    }
    else{
        document.getElementById('tank1').innerHTML = "";
    }
}

function getTankOp2(){
    var tank1 = $("#TT option:selected").html();

    var op2 = '<p id="label">Tread Type</p><select name="weight" id="weight" class="custom-select"><option id="tank" value="Rhino:Rhino,Raptor,Other">Rhino</option><option value="Raptor:Rhino,Raptor,Other">Raptor</option><option value="Other:Rhino,Raptor,Other">Other</option></select>'

    if(tank1 === "Tank Treads"){
        document.getElementById('tank2').innerHTML = op2;
    }
    else{
        document.getElementById('tank2').innerHTML = "";
    }
}

window.onload = function() {
    document.getElementById("teamNumber")[0].addEventListener('input', changeTeam);
}

</script>-->

</body>
<style>
    .darkmode--activated i {
        color: black;
    }

</style>

</br>
</br>
</br>
</br>
<div class="form">
    <div class="header">
        <h1 id="scoutfor">Scouting For<h1 id="teamNumberHeader"></h1> </h1>
        <p id="teamNameHeader"></p>
    </div>

    <div class="formContents">
        <form method="post">
            {% csrf_token %}

            <p id="label">Team Number</p>
            {{ form.team_num|attr:"class:form-control"|attr:"placeholder:Team Number"|attr:"id: teamNumber" |attr:"name: teamNumber" }}
            <br>


            <p id="label">Robot Weight</p>
            {{form.robot_weight|attr:"class:form-control"|attr:"placeholder:000LBS"|attr:"id: teamNumber" }}
            
            <p id="label">Robot Frame Perimeter</p>
                {{ form.robot_frame_length|attr:"class:form-control"|attr:"placeholder:Robot Length"|attr:"id: dim" }}
            </br>
                {{ form.robot_frame_width|attr:"class:form-control"|attr:"placeholder:Robot Width"|attr:"id: dim" }}
            </br>

            <p id="label">DriveTrain Type</p>
                {{form.robot_drivetrain_type|attr:"class:form-control"}}
                <div id="tank1"></div>
                <div id="tank2"></div>      
                <br>

            <p id="label">Are they a high or low bot</p>
                {{form.robot_highlow|attr:"class:form-control"}}
                <br>

            <p id="label">Do They Shoot For Low Goal, High Goal, Or Both</p>
                {{form.robot_goal|attr:"class:form-control"}}
                </br>

            <p id="label">Do they complete the control panel</p>
                {{form.robot_control_panel|attr:"class:form-control"}}
                <br>

            <p id="label">Do they perform in autonomous</p>
                {{form.robot_autonomous|attr:"class:form-control"}}
                <br>

            <p id="label">Vision Type</p>
                {{form.robot_vision_type|attr:"class:form-control"}}
                </br>

            <p id="label">Is Vision Implemented During The Match</p>
                {{form.robot_vision_implement|attr:"class:form-control"}}
                </br>


            <p id="label">Do They Climb</p>
                {{form.robot_climb|attr:"class:form-control"}}
                <br>

            <p id="label">Do They Help Others Climb</p>
                {{form.robot_buddy_climb|attr:"class:form-control"}}
                <br>

                <div id="autoPoints"></div>

                <label id="label" for="notes">Notes</label>
                <!--<textarea class="form-control" id="notes-text" rows="3"></textarea>-->
            {{ form.notes|attr:"class:form-control"|attr:"rows:3"|attr:"id: notes-text" }}
    </div>
<input class="inp-cbx" id="cbx" type="checkbox" style="display: none;" onchange="ShowButton()" />
<label class="cbx" for="cbx"><span>
    <svg width="12px" height="10px" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </svg></span><span id="checkbox-text">Check to Confirm Submission</span></label>
    <br>
                <input id="submit" class="form-control"type="submit" value="Submit Scouting Data" class="submit_form"/>
            </br>
        </form>
    </div>
</div>
<script>
 function ShowButton(){
  var checkBox = document.getElementById("cbx");
  var text = document.getElementById("submit");

    if (checkBox.checked == true){
        text.style.display = "block";
    } 
    if(checkBox.checked == false) {
        text.style.display = "none";
  }
}

 window.onload = function ShowButton(){
  var checkBox = document.getElementById("cbx");
  var text = document.getElementById("submit");
    if (checkBox.checked == true){
        text.style.display = "block";
    } 
    if(checkBox.checked == false) {
        text.style.display = "none";
  }
}
</script>
</form>
</div>
<br>
<script src="../../static/stats/assets/js/button.js"></script>
{%endblock content%}