{% extends 'users/base.html' %}

<script>
    $(document).ready(function(){
       setTitle("Pit Data");
    });
</script>

{%block styles%} 
<link rel="stylesheet" href="../../static/users/assets/css/data.css">
<link rel="stylesheet" href="../../static/users/assets/css/hub.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<br>
<br>
<br>
<br>

<center><h1 id="media-header">Pit Scouting Data For Team</h1></center>
<hr>
<center><p class="choicepercent"><strong>{{object.team_num}}</strong></p>

<!--<center><p class="warning"><strong>It is best to view chart data in light mode</strong></p>-->
<script>
    window.onload = async function  getData(){
    var auto = {{object.robot_autonomous}}
    var autoEl = $('#auto')
    if(auto === 100){
        autoEl.append("Yes")
    }
    else{
        autoEl.append("No")
    }
//------------------------------
    var vision = {{object.robot_vision_implement}}
    var visionEl = $('#vision')
    if(auto === 100){
        visionEl.append("Yes")
    }
    else{
        visionEl.append("No")
    }

//------------------------------
    var climb = {{object.robot_climb}}
    var climbEl = $('#climb')
    if(auto === 100){
        climbEl.append("Yes")
    }
    else{
        climbEl.append("No")
    }

    var buddy = {{object.robot_buddy_climb}}
    var buddyEl = $('#buddy')
    if(auto === 100){
        buddyEl.append("Yes")
    }
    else{
        buddyEl.append("No")
    }
    }
</script>

<br>
<center><p class="questions"><strong>Robot Weight</strong></p>
<center><p class="choicepercent"><strong>{{object.robot_weight}}LBS</strong></p>
<br>
<center><p class="questions"><strong>Robot Frame Perimeter</strong></p>
<center><p class="choicepercent"><strong>Width: {{object.robot_frame_width}}in | Length: {{object.robot_frame_length}}in</strong></p>
<br>
<center><p class="questions"><strong>Is it a High Or Low Bot</strong></p>
<center><p class="choicepercent"><strong>{{object.robot_highlow}}</strong></p>
<br>
<center><p class="questions"><strong>DriveTrain Type</strong></p>
<center><p class="choicepercent"><strong>{{object.robot_drivetrain_type}}</strong></p>
<br>
<center><p class="questions"><strong>Does the Robot Shoot for Low Or High Goal or Both</strong></p>
<center><p class="choicepercent"><strong>{{object.robot_goal}}</strong></p>
<br>
<center><p class="questions"><strong>Does the Robot Complete the Control Panel</strong></p>
<center><p class="choicepercent"><strong>{{object.robot_control_panel}}</strong></p>
<br>
<center><p class="questions"><strong>Does the Robot perform in Autonomous</strong></p>
<center><p id="auto" class="choicepercent"><strong></strong></p>
<br>
<center><p class="questions"><strong>Is Vision Implemented during the Match</strong></p>
<center><p id="vision" class="choicepercent"><strong></strong></p>

<br>
<center><p class="questions"><strong>Vision Type</strong></p>
<center><p class="choicepercent"><strong>{{object.robot_vision_type}}</strong></p>
<br>

<center><p class="questions"><strong>Does the Robot Climb</strong></p>
<center><p id="climb" class="choicepercent"><strong></strong></p>
<br>

<center><p class="questions"><strong>Does the Robot Help Others Climb</strong></p>
<center><p id="buddy" class="choicepercent"><strong></strong></p>
<br>

<center><p class="questions" id="notes"><strong>Notes</strong></p>
<div id="textBlock">
        <p id="notes"><strong>{{object.notes}}</strong></p>
    </div>
<br>
<form>
    {% csrf_token %}
    {{form.as_p}}
</form>

{%endblock content%}
