{% extends 'users/base.html' %}

<script>
  $(document).ready(function () {
    setTitle("Pit Data");
  });
</script>
{%block styles%}
<style rel="stylesheet" href="../../../users/static/users/assets/css/pitdata.css"></style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="../../../static/users/assets/css/bg.css">


{%endblock styles%}
{%block content%}
<script>
  var options = {
    bottom: '64px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '0.5s', // default: '0.3s'
    mixColor: '#dedede', // default: '#fff'
    backgroundColor: '#fff', // default: '#fff'
    buttonColorDark: '#100f2c', // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);

  function toggle() {
    darkmode.toggle();

  }
</script>
<br>
<br>
<br>
<br>

<center>
  <h1 id="media-header">Pit Scouting Entry List</h1>
</center>
<br>
<br>
<!--<center><div class="table-responsive-md"><table class="table table-bordered">
  <div class="md-form mt-0">
    <input id="search-bar" class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 90%">
  </div>
  <br/>
  <br/>  
     
            {% for team in teams%}
            <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne2">
      <h2 class="mb-0">
        <a id="cardbtn" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{team.team_num}}
        </a>
        <a id="cardbtn2" href="{% url 'pitdata-view' team.id %}" class="btn btn-link">
            View More Data &#10140;
        </a>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" id="teampitstats">
      <div>
        <p id="stats" style="font-weight: bold; ">Height:</p> 
        <p id="stats">{{team.robot_highlow}}&nbsp</p>
        </div>
        <div style="text-overflow: ellipsis;">
        <p id="stats" style="font-weight: bold;">Length:</p> 
        <p id="stats">{{team.robot_frame_length}}"</p>
        </div>
        <div>
        <p id="stats" style="font-weight: bold; ">Width:</p> 
        <p id="stats">{{team.robot_frame_width}}"</p>
        </div>
        <div>
        <p id="stats1" style="font-weight: bold; ">DriveTrain Type:</p> 
        <p id="stats1">{{team.robot_drivetrain_type}}</p>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
  <br>
            {%endfor%}
            -->
<script>
  $(document).ready(function () {
    $("#search-bar").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#pit-table tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
<center><input id="search-bar" class="form-control" type="text" placeholder="Search" aria-label="Search"
    style="width: 90%"></center>
<br>
<center>
  <div class="table-responsive-md">
    <table id="pit-table" class="table table-borderless">
      <tr>
        <th class="col-1" id="scout-team-col">Scouted Team Number</th>
        <!--<th class="col-2" id="scout-team-col">Quick Data</th>-->
      </tr>
      <div>
        {% for team in teams %}
        <tr>
          <td id="teamCount"><strong><a>{{team.team_num}}</a></strong><a style="float: right; color: black;"
              href="{% url 'pitdata-view' team.id %}"><strong>View Data</strong></a></td>
        </tr>
        {%endfor%}
    </table>
  </div>
</center>
<style>
  .darkmode--activated #scout-team-col {
    color: white;
  }
</style>


{%endblock content%}