{%extends 'users/base.html'%}

{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/scout.css">

{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<script>
    window.onload = function checkform() {
    if(document.scoutForm.teamNumber == "") {
        alert("please enter start_date");
        return false;
    } else {
        document.frmMr.submit();
    }
}
    window.onload = async function getTeamNumber(){
    var team = {{team_num}};
    $("#teamNumberHeader").html(team);
    $.get("https://www.thebluealliance.com/api/v3/team/frc" + team + "/events/2020/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data) {
    var jObject = (data);
    console.log(data);
    for(var i=0; i<data.length; i++){
        
    var obj = jObject[i];
    var comp = obj.name;

    key = obj.event_code;
    var date = obj.start_date;
    console.log(date)
    console.log(key)
    var option = "<option id='compValueDrop' value=" + key + "></option>" + comp + "</option>"
    //document.getElementById('getCompDrop').innerHTML += option;
    }
})}            
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<title>FRCS Scouting</title>
</body>
<style>


    .darkmode--activated i {
        color: black;
    }
</style>
</br>
</br>
</br>
</br>
</style>
<div class="form">
    <div class="header">
        <h1 id="scoutfor">Team<h1 id="teamNumberHeader"></h1> </h1>
        <p id="teamNameHeader"></p>
    </div>

    <div class="formContents">
        <form name="scoutForm" method="post">
  
            <p id="label">Competition</p>
            <select id="getCompDrop" name="Comp" class="custom-select" onclick="getCompData()">
                <option>Select Competition</option>
            </select>
            </br>
            
            <p id="label">Match Number</p>
            <input class="form-control" type="number" id="matchNumber" name="matchNumber" onchange="changeTeams()" placeholder="00" />
            <p id="matchType" class="matchType"><i class="matchTypeChange"></i></p>
            <br>

            <p id="label">Match Type</p>
            <select id="matchTypeOp" name="matchTypeOp" class="custom-select" onchange="changeTeams()">
                <option value="qm">Qualifying Match</option>
                <option value="qf">Quarter Final</option>
                <option value="sf">Semi Final</option>
                <option value="f">Final</option>
                <option value="ef">Elimination Final</option>
            </select>
            </br>

            <p id="label">Team Number</p>
            <select id="teamNumber" class="custom-select" name="teamNumber" onchange="changeName(); changeTeam()">
            <option>Select Team</option>
            </select>
            <p id="teamName" class="teamName"><i class="teamNameChange">Unknown Team</i></p>
            <br>
            <div id="failsafe"></div>
            <div id="teamNumberInput"></div>


            <h1 id="entry_title">Autonomous Period</h1>
            <hr id="hr">
            </br>

            <p id="label">Low Goal Points</p>
            <select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>
            </br>
            </br>

            <p id="label">Higher Outer Goal Points</p>
            <select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>
            </br>
            </br>

            <p id="label">Higher Inner Goal Points</p>
            <select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>
            </br>
            </br>

            <h1 id="entry_title">Midgame</h1>
            <hr id="hr">
            </br>

            <p id="label">How Many Points Did The Robot Score In The Low Goal</p>
            <select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>
            </br>
            </br>

            <p id="label">How Many Points Did The Robot Score In The High Outer Goal</p>
            <select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>
            </br>
            </br>

            <p id="label">How Many Points Did The Robot Score In The High Inner Goal</p>
            <select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>
            </br>
            </br>

            <p id="label">Did The Robot Coplete The control Panel</p>
            <select id="controlPanel" name="controlPanel" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>
            </br>
            </br>





            

            <p id="label">Is defense played?</p>
            <select id="midDefensePlayed" name="midDefensePlayed" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>
            </br>
            </br>

            <p id="label">What percent of time is defense played? <i>(Estimation)</i></p>
            <input class="form-control" type="number" name="midDefensePlayedPercent" id="midDefensePlayedPercent" max="100" min="0" />
            </br>


            <h1 id="entry_title">Endgame</h1>
            <hr id="hr">
            </br>


            <p id="label">Did the robot have the help of another robot to "climb"?</p>
            <select id="endHelpClimb" name="endHelpClimb" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>
            </br>
            </br>
            <h1>Miscellaneous</h1>
            <hr id="hr">
            </br>
            <p id="label">Did the robot have any penalties during the match?</p>
            <select id="miscPenalties" name="miscPenalties" class="custom-select">
                <option value="0:None,Yellow,Red">None</option>
                <option value="0:No,Yellow,Red">Yellow</option>
                <option value="1:No,Yellow,Red">Red</option>
            </select>
            </br>


            <br>
            <label id="label" for="notes">Notes</label>
                <textarea class="form-control" id="notes-text" rows="3"></textarea>
  </div>
            <br>

            <input class="form-control" type="hidden" name="team_code" id="team_code" value="" />
            <input class="form-control"type="submit" value="Submit Scouting Data" class="submit_form" />
            </br>
        </form>
    </div>
</div>
<br>
<div>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>      
</div>
<script src="../../static/users/assets/js/GetScoutData.js"></script>
{%endblock content%}