{%extends 'users/base.html'%}

{%block styles%}

<link rel="stylesheet" href="../../static/users/assets/css/scout.css">
<link rel="stylesheet" href="../../static/users/assets/css/hub.css">
{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>
<h1 class='title'>Data Hub</h1>
<div class='info-grp'>
    <div class='info-card'>
        <p class='info-nmbr'>{{team_count}}</p>
        {% if team_count == 1 %}
            <p class='info-sbtl'>Registered Team</p>
        {% else %}
            <p class='info-sbtl'>Registered Team</p>
        {% endif %}
    </div>
    <div class='info-card'>
        <p class='info-nmbr'>{{sub_count}}</p>
        {% if sub_count == 1 %}
            <p class='info-sbtl'>Data Submission</p>
        {% else %}
            <p class='info-sbtl'>Data Submissions</p>
        {% endif %}
    </div>
</div>
<!--<center><h1>Bot Size</h1></center>
<canvas id="myChart"></canvas>
<br>
<center><h1>Bot Climb</h1></center>
<canvas id="myChart2"></canvas>
<br>
<center><h1>Bot Vision</h1></center>
<canvas id="myChart3"></canvas>





<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Low Bot', 'High Bot'],
        datasets: [{
            label: '',
            data: [12, 19],
            backgroundColor: [
                'rgba(240, 96, 97, 1)',
                'rgba(37, 213, 200, 1)',



            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
<script>
var ctx = document.getElementById('myChart2');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Climb', 'Doesnt Climb'],
        datasets: [{
            label: '',
            data: [12, 19],
            backgroundColor: [
                'rgba(240, 96, 97, 1)',
                'rgba(37, 213, 200, 1)',



            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
<script>
var ctx = document.getElementById('myChart3');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Vision', 'No Vision'],
        datasets: [{
            label: '',
            data: [12, 19],
            backgroundColor: [
                'rgba(240, 96, 97, 1)',
                'rgba(37, 213, 200, 1)',



            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>-->
{%endblock content%}