.getting_started{
    width: 75%;
    height: auto;
    padding: 1%;
    margin: 0 auto;
}

.darkmode--activated #startedText{
    color: black;

}

h1, h2{
    font-weight: bolder;
}

#alertText{
    color: red;
}

.darkmode--activated #alertText{
    color: #00ffff
}