
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>FRCS</title>
    <link rel="stylesheet" type="text/css" href="../../static/users/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/users/assets/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/users/assets/css/templatemo-lava.css">
    <link rel="stylesheet" href="../../static/users/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="../../static/users/assets/css/footer.css">
    <link rel="stylesheet" href="../../static/users/assets/css/users.css">
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.3/lib/darkmode-js.min.js"></script>
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<section>
    <div>
        <h1 id="welcome">Welcome</h1>
    </div>
    <div>
        <button onclick="toggle()">Dark Mode</button>
        <button onclick="signOut()" id="signOut">SignOut</button>
    </div>
</section>
    <section class="footer"
        <div class="container">
            <p class="text-muted">Created by FRC Team 810</p>
        </div>
    </section>
<script src="../../static/users/assets/js/jquery-2.1.0.min.js"></script>
<script src="../../static/users/assets/js/popper.js"></script>
<script src="../../static/users/assets/js/bootstrap.min.js"></script>
<script src="../../static/users/assets/js/owl-carousel.js"></script>
<script src="../../static/users/assets/js/scrollreveal.min.js"></script>
<script src="../../static/users/assets/js/waypoints.min.js"></script>
<script src="../../static/users/assets/js/jquery.counterup.min.js"></script>
<script src="../../static/users/assets/js/imgfix.min.js"></script>
<script src="../../static/users/assets/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.3/lib/darkmode-js.min.js"></script>


</body>
</html>