<!doctype html>
<title>FRCS Closed</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Poppins, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
  
  
</style>

<article>
    <h1>FRCS IS NOW CLOSED</h1>
    <div>
        <p>Unfortunately, FRCS will now be closed due to the recent suspension of the 2020 season. Thank you for everyone that stayed with us for the past two years. We wish everyone the best of luck. Stay safe</p>
        <p>Team 810, <br>The Mechanical Bulls</p>
    </div>
</article>