{% extends 'users/base.html' %}

<script>
    $(document).ready(function(){
       setTitle("Getting Started");
    });
</script>
{%block styles%} 
    <link rel="stylesheet" href="../../static/users/assets/css/scout.css">
    <link rel="stylesheet" href="../../static/users/assets/css/hub.css">
{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<br>
<br>
<br>
<br>

<center><h1 id="media-header">Forgot Password</h1></center>
<br>
        <center><input class="form-control" id="change-pass" type="Password" id="email" placeholder="Enter New Password"></center>
        <center><input class="form-control" id="change-pass" type="Password" id="email" placeholder="Renter New Password"></center>
<center><button id="logout" type="button" class="btn btn-danger">Reset Password</button><center>
{%endblock content%}
