{% extends 'users/base.html' %}

<script>
    $(document).ready(function(){
       setTitle("Guest");
    });
</script>
{%block styles%} 
    <link rel="stylesheet" href="../../static/users/assets/css/scout.css">
    <link rel="stylesheet" href="../../static/users/assets/css/hub.css">
{%endblock styles%}
{%block content%}

<br>
<br>
<br>
<br>
<div id="textBlock">
        <h1 id="blockText">You Are In Guest View</h1>
        <h1 id="blockText2">To View Team Data register as a member of your team, if your team does not have a profile yet, ask your team mentor to create a team profile.
</div>
{%endblock content%}