<div class="circle neumorphism"></div>
<div class="circle2 neumorphism"></div>
<div class="circle3 neumorphism"></div>
<div class="circle4 neumorphism"></div>

<style>

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  background: #e0e5ec;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle {
    border-radius: 50%;
    animation: pulse1 1s infinite ease-in-out;
}

@keyframes pulse1 {
    0%{
        width: 30px;
        height: 30px;
    }

    50%{
        width: 50px;
        height: 50px;
    }

    100%{
        width: 30px;
        height: 30px;
    }
}

.circle2 {
    border-radius: 50%;
    animation: pulse2 1s infinite ease-in-out;
}

@keyframes pulse2 {
    0%{

        width: 30px;
        height: 30px;
    }
    20%{
        width: 30px;
        height: 30px;
    }

    50%{
        width: 50px;
        height: 50px;
    }

    100%{
        width: 30px;
        height: 30px;
    }
}
.circle3 {
    border-radius: 50%;
    animation: pulse3 1s infinite ease-in-out;
}

@keyframes pulse3 {
    0%{

        width: 30px;
        height: 30px;
    }
    30%{
        width: 30px;
        height: 30px;
    }

    50%{
        width: 50px;
        height: 50px;
    }

    100%{
        width: 30px;
        height: 30px;
    }
}
.circle4 {
    border-radius: 50%;
    animation: pulse4 1s infinite ease-in-out;
}

@keyframes pulse4 {
    0%{

        width: 30px;
        height: 30px;
    }
    40%{
        width: 30px;
        height: 30px;
    }

    50%{
        width: 50px;
        height: 50px;
    }

    100%{
        width: 30px;
        height: 30px;
    }
}



.neumorphism {
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    margin: 10px;
}


</style>