{%extends 'users/base.html'%} {%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/register.css">
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
<script src="../../static/users/assets/js/jquery-2.1.0.min.js"></script>

{%endblock styles%} {%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>

<body>

    <div class='login-form'>

        {% csrf_token %}
        <h1 id="login-head" >Sign In</h1>
        <form id="loginForm" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.query}} {%for message in messages%}
                <div class='error-container'>
                    <p id="pass-letter" style="overflow: hidden;
                        white-space: nowrap;">
                        {{message}}</p> {%endfor%}</div>
            
            <!-- <input method="post" class="form-control" type="email" id="email" placeholder="Enter Email"> -->

            <div class="form-group">
               {{form.password}}
                <!-- <input class="form-control" type="password" id="password" placeholder="Enter Password"> -->
                <a class='psw-rst' href="{% url 'password_reset' %}">Forgot Password</a>
            </div>

            <button id="submit-login" type="submit" class="btn btn-primary">Login</button>

            <strong>
                </strong>
        
            <p class='alr-msg'>Already have an account</p>
            <a href="{% url 'login-view' %}" id="login"  class="login-lnk">Login</a>

        </form>
    </div>
    <center>

        <p class='login-err' style="padding-left: 15%; margin-right: 15%; color: red;">If you are redirected back to this page after you login without any error message, it may mean you have to activate your account</p>

    </center>
    </br>

    {%endblock content%}