{%extends 'users/base.html'%}

{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/register.css">
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
<script src="../../static/users/assets/js/jquery-2.1.0.min.js"></script>

{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<script>
    window.onload = async function checkBG(){
        if($('.navigation-wrap').css("background-color") == 'rgb(43, 43, 43)'){
            darkmode.toggle();
    }
   
}
</script>
<body>

<div class=form>
<div id="cred-card" class="card" style="transform: translateY(20%);">
    {% csrf_token %}
    <h1 id="login-head" style="margin-left: 15%; padding-bottom: 20px; padding-top: 20px;">Sign In</h1>
    <form id="loginForm" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label id="label">Username</label>
            {{form.query}}
            <div class="container">
            {%for message in messages%}
                <small style="color: red; font-size: x-small; margin-left: 0;">{{message}}</small>
            {%endfor%}
            </div>
            <!-- <input method="post" class="form-control" type="email" id="email" placeholder="Enter Email"> -->
        </div>
        <div class="form-group">
            <label id="label">Password</label>
            {{form.password}}
            <!-- <input class="form-control" type="password" id="password" placeholder="Enter Password"> -->
        </div>
            <p style="padding-left: 15%; margin-right: 15%; color: red;">If you are redirected back to this page after you login without any error message, it may mean you have to activate your account</p>
        <button id="submit-login" type="submit" class="btn btn-primary">Login</button>

        <strong><div class="hr-sect">Register if you dont have an account</div></strong>

<a style="margin-bottom: 15px;" href="{% url 'register-view' %}" id="register" class="btn btn-primary">Register</a>

</form>
</div>
</br>

<style>
    #guestButton{
        display: block;
        max-width: 70%;
        margin: auto;
        background-color: grey;
    }
</style>

{%endblock content%}