{% extends 'users/base.html' %}

<script>
    $(document).ready(function(){
       setTitle("Getting Started");
    });
</script>
{%block styles%} 
    <link rel="stylesheet" href="../../static/users/assets/css/scout.css">
    <link rel="stylesheet" href="../../static/users/assets/css/hub.css">
{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<br>
<br>
<br>
<br>

<center><h1 id="media-header">FRCS was created by Team 810, The Mechanical Bulls</h1></center>
<br>

<center><div class="social-button"> <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><strong>Facebook</strong></button> <button onclick="window.location.href = 'https://www.youtube.com/channel/UCA193ihdEk7R3QxhpEwxUyg'" type="button" class="btn btn-social-icon btn-youtube btn-rounded"><strong>Youtube</strong></button> <button onclick="window.location.href='https://twitter.com/team810?lang=en'" type="button" class="btn btn-social-icon btn-twitter btn-rounded"><strong>Twitter</strong></button><button onclick="window.location.href='https://www.instagram.com/team.810/'" type="button" class="btn btn-social-icon btn-instagram btn-rounded"><strong>Instagram</strong></button> </div></center>

{%endblock content%}
