{%extends 'users/base.html'%}
{% load crispy_forms_tags %}
{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/register.css">
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
<script src="../../static/users/assets/js/jquery-2.1.0.min.js"></script>

{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>

<body>

    <div class=form>
        <div id="cred-card" class="card" style="transform: translateY(20%);">
            <h1 id="login-head" style="margin-left: 15%; padding-bottom: 20px; padding-top: 20px;">Reset Password</h1>
            <form id="loginForm" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{form|crispy}}
                    <div class="container">
                    </div>
                </div>
                <button id="submit-login" type="submit" class="btn btn-primary">Login</button>



            </form>
        </div>
        </br>

        <style>
            #guestButton {
                display: block;
                max-width: 70%;
                margin: auto;
                background-color: grey;
            }
        </style>

        {%endblock content%}