{% load crispy_forms_tags %}
{%block styles%}
<link rel="stylesheet" href="../../../static/users/assets/css/register.css">
<link rel="stylesheet" href="../../../static/users/assets/css/bg.css">
<script src="../../../static/users/assets/js/jquery-2.1.0.min.js"></script>
<link rel="stylesheet" href="../../../static/users/assets/css/templatemo-lava.css">
<link rel="stylesheet" href="../../../static/users/assets/css/style.css">
<link rel="stylesheet" href="../../../static/users/assets/css/bootstrap.min.css">



{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>

<body>

    <div class=form>
        <div id="cred-card" class="card" style="transform: translateY(20%);">

            <h1 id="login-head" style="margin-left: 15%; padding-bottom: 20px; padding-top: 20px;">Reset Password</h1>
            <form id="loginForm" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{form|crispy}}
                    <div class="container">
                    </div>
                </div>
                <button id="submit-login" type="submit" class="btn btn-primary">Login</button>



            </form>
        </div>
        </br>

        <style>
            #guestButton {
                display: block;
                max-width: 70%;
                margin: auto;
                background-color: grey;
            }

            body {
                font-family: 'poppins';
            }
        </style>
        <script src="../../../static/users/assets/js/jquery-2.1.0.min.js"></script>
        <script src="../../../static/users/assets/js/popper.js"></script>
        <script src="../../../static/users/assets/js/bootstrap.min.js"></script>
        <script src="../../../static/users/assets/js/owl-carousel.js"></script>
        <script src="../../../static/users/assets/js/scrollreveal.min.js"></script>
        <script src="../../../static/users/assets/js/waypoints.min.js"></script>
        <script src="../../../static/users/assets/js/jquery.counterup.min.js"></script>
        <script src="../../../static/users/assets/js/imgfix.min.js"></script>
        <script src="../../../static/users/assets/js/custom.js"></script>
        <script src="../../../static/users/assets/js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.3/lib/darkmode-js.min.js"></script>
        <script src="../../../static/users/assets/js/getPitSelect.js"></script>
        <script src="../../../static/users/assets/js/requirejs.min.js"></script>
        {%endblock content%}