{%extends 'users/base.html'%}

{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/scout.css">
{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9154118566190557",
        enable_page_level_ads: true
    });
</script>
<link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<title>FRCS Scouting</title>
<link id="theme" rel="stylesheet" href="script/get_style.php?t=<?php echo time(); ?>" />
<script>
    async function changeName(){
    var teamNumber = document.getElementById("teamNumber").value;
    
    $(document).ready(function () {
    $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple",{"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data) {
    console.log(data);
    var jObject = (data);
    var name = (jObject['nickname']);
    console.log(name);    
    document.getElementById("teamNumberHeader").innerHTML = " " + name
    
    }) ;
});
}

function getTankOp(){
    var tank = $("#DTT option:selected").html();

    var op = '<p id="label">Tank Type</p><select onchange="getTankOp2()" name="TT" id="TT" class="custom-select"><option id="tank" value="4Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">4 Wheel</option><option id="tank" value="6Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">6 Wheel</option><option value="8Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">8 Wheel</option><option value="TankTread:4Wheel,6Wheel,8Wheel,TankTread,Other">Tank Treads</option><option value="Other:4Wheel,6Wheel,8Wheel,TankTread,Other">Other</option></select>'
    var op3 = '<p id="label">Tank Wheel Type</p><select name="TT" id="TT" class="custom-select"><option id="tank" value="4Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">4 Wheel</option><option id="tank" value="6Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">6 Wheel</option><option value="8Wheel:4Wheel,6Wheel,8Wheel,TankTread,Other">8 Wheel</option><option value="TankTread:4Wheel,6Wheel,8Wheel,TankTread,Other">Tank Treads</option><option value="Other:4Wheel,6Wheel,8Wheel,TankTread,Other">Other</option></select>'
    if(tank === "Tank"){
        document.getElementById('tank1').innerHTML = op;
    }
    else{
        document.getElementById('tank1').innerHTML = "";
    }
}

function getTankOp2(){
    var tank1 = $("#TT option:selected").html();

    var op2 = '<p id="label">Tread Type</p><select name="weight" id="weight" class="custom-select"><option id="tank" value="Rhino:Rhino,Raptor,Other">Rhino</option><option value="Raptor:Rhino,Raptor,Other">Raptor</option><option value="Other:Rhino,Raptor,Other">Other</option></select>'

    if(tank1 === "Tank Treads"){
        document.getElementById('tank2').innerHTML = op2;
    }
    else{
        document.getElementById('tank2').innerHTML = "";
    }
}


</script>

</body>
<style>
    .darkmode--activated i {
        color: black;
    }

</style>

</br>
</br>
</br>
</br>
<div class="form">
    <div class="header">
        <h1 id="scoutfor">Scouting For<h1 id="teamNumberHeader"></h1> </h1>
        <p id="teamNameHeader"></p>
    </div>

    <div class="formContents">
        <form method="post" action="../scripts/data/submit_data.php" >


            <p id="label">Team Number</p>
            <input class="form-control" type="number" id="teamNumber" name="teamNumber" placeholder="0000" onchange="changeName()"/>
            <br>


            <p id="label">Robot Weight</p>
            <select name="weight" id="weight" class="custom-select">
            <option value="select:select,>90">Select</option>
            <option value=">90:select,>90">Less Than 90</option>
            <script>
            for(var weight=91;weight<=125;weight++)
            {
            document.write("<option>"+weight+"</option>");
            }
            </script>
            </select>


            <p id="label">Robot Frame Perimeter</p>
                <input class="form-control" id="dim" type="text" name="" placeholder="Length"/>
                <input class="form-control" id="dim" type="text" name="" placeholder="Width"/>
            </br>

            <p id="label">DriveTrain Type</p>
                <select onchange="getTankOp();" name="weight" id="DTT" class="custom-select">
                <option >Select</option>
                <option id="tank" value="Tank">Tank</option>
                <option value="Omni">Omni</option>
                <option value="Skid">Skid</option>
                <option value="Holonomic">Holonomic</option>
                <option value="Swerve">Swerve</option>
                <option value="H">H</option>
                <option value="Other">Other</option>
                </select>  
                <div id="tank1"></div>
                <div id="tank2"></div>      

                <br>
            <p id="label">Vision Type</p>
                <select name="weight" id="weight" class="custom-select">
                <option>Select</option>
                <option value="None:">None</option>
                <option value="Limelight">Limelight</option>
                <option value="RasberryPi">RasberryPi</option>
                <option value="Kinect">Kinect</option>
                <option value="Other">Other</option>
                </select>
                </br>

            <p id="label">Is Vision Implemented During The Match</p>
                <select name="weight" id="weight" class="custom-select">
                <option>Select</option>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
                </select>
                </br>

            <p id="label">Do They Shoot For Low Goal, High Goal, Or Both</p>
                <select name="weight" id="weight" class="custom-select">
                <option>Select</option>
                <option value="Lower">Lower</option>
                <option value="Inner">Inner</option>
                <option value="Outer">Outer</option>
                <option value="both">Both Low and High</option>
                </select>
                </br>

                </select>
            <p id="label">Do they perform in autonomous</p>
                <select id="auto" name="weight" id="weight" class="custom-select" onchange="getAuto()">
                <option>Select</option>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
                </select>
                <br>

            <p id="label">Are they a high or low bot</p>
                <select id="height" name="weight" id="weight" class="custom-select" onchange="getAuto()">
                <option>Select</option>
                <option value="High">High</option>
                <option value="Low">Low</option>
                </select>
                <br>

            <p id="label">Do they climb</p>
                <select id="climb" name="weight" id="weight" class="custom-select" onchange="getAuto()">
                <option>Select</option>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
                </select>
                <br>
            <p id="label">Do they complete the control panel</p>
                <select id="climb" name="weight" id="weight" class="custom-select" onchange="getAuto()">
                <option>Select</option>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
                </select>
                <br>


                <div id="autoPoints"></div>
                <div class="form-group">
                <label id="label" for="notes">Notes</label>
                <textarea class="form-control" id="notes-text" rows="3"></textarea>

            
    </div>
</div>
<br>
{%endblock content%}