{%extends 'users/base.html'%}

{%block styles%}
{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
</br>
</br>
</br>
</br>
<script type="text/javascript" >
    var team_num = {{user.team_num}};

    window.onload = async function changeData(){
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + team_num + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            $("#city").html(jObject['city']);
        })
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + team_num + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            $("#country").html(jObject['country']);
        })
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + team_num + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            $("#nickname").html(jObject['nickname']);
        })
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + team_num + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            $("#state").html(jObject['state_prov']);
        })
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + team_num + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            $("#num").html(jObject['team_number']);
            
        })
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + team_num + "/events/2020", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            var json = JSON.stringify(jObject);

            
		var ul = document.createElement('ul');
		document.getElementById('events').appendChild(ul);
		jObject.forEach(function(name){
            for(var i = 0; i<10; i++){
            var li = document.createElement('li');
			ul.appendChild(li);
			li.innerHTML += jObject[i].name;      
            }
			
		});
    })
    }
    
</script>
<div class="container">
    <center><h1 id="loginStats" class="display-4">Hello, {{user.username}}</h1></center><!--This is better than {{user.username}} from Team {{user.team_num}} is logged in-->
</div>
<br>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <center><button id="collBtn" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Information
        </button></center>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
      <div class="card-body">
    <center><p class="num"><strong>Team Number:</strong><p class="num" id="num"></p></center>
    <center><p class="nickname"><strong>Nickname:</strong><p class="nickname" id="nickname"></p></center>
    <center><p class="country"><strong>Country:</strong><p class="country" id="country"></p></center>
    <center><p class="state"><strong>Region:</strong><p class="state" id="state"></p></center>
    <center><p class="city"><strong>City:</strong><p class="city" id="city"></p></center>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <center><button id="collBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Events
        </button></center>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
    <center><p id="events"><strong>Events:</strong></p></div><center>
      </div>
    </div>
  </div>
{%endblock content%}