{%extends 'users/base.html'%}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/users/assets/css/profile.css">

{%block styles%}
{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }

    
</script>
<script type="text/javascript">
    var team_num = {{user.team_num}}
</script>

<br>
<br>
<br>
<br>
<div class='profile-edit-container' style='padding-left: 12.5%'>
<div id='acc-sett-header'>
    <h1 id="loginStats" class="display-4">Profile Settings</h1>
</div>
<br>
<div id='form-container' style='width: 85%;'>
    <hr>

    <form method='post'>
        {% csrf_token %} 
        <label id='label'>First Name</label>
        {{form.first_name}}
        <br>
        <label id='label'>Last Name</label>
        {{form.last_name}}
        <hr>
        <label id='label'>Settings</label>
        <br>
        {{p_form.viewPitResubmit}}
        <label style='margin-left: 0%;' class="cbx" for="cbx"><span>
            <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg></span><span id="checkbox-text">Redirect on Pit resubmit</span></label><br>
            <label>If you submit scouting data that was already entered, you will be redirected to that data</label>

        <button style='width: 100%;' class='btn btn-primary' id='submit-form' type='submit'>Submit</button>
    </form>
</div>
</div>
<style>
    .darkmode--activated #submit-form {
        background: #de6320;
        color: black;
        font-weight: bold;
        border-color: #de6320;
    }
</style>

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i style="font-size:24px" class="fa fa-angle-right"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="{% url 'profile-view' %}">Profile Settings</a>
                <div id="close-sidebar">
                    <i style="font-size:24px" class="fa fa-angle-left"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img height="50px" width="50px" style="border-radius: 10px;" class="img-responsive img-rounded"
                        src="../../../{{picture}}" alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">{{user.username}}
                    </span>
                    <span class="user-role">{{auth_level}}</span>
                </div>
            </div>
            <div style="padding-left: 20px">
                <button onclick="window.location.href='{% url 'profile-settings-view' user.username %}'" style="width: 90%;"
                    type="button" class="btn btn-outline-light">Edit Profile Picture</button>
            </div>
            <div style="padding-left: 20px;">
                <p class="num"><strong>Team Number:</strong>
                    <p class="num" id="num"></p>
                    <p class="country"><strong>Country:</strong>
                        <p class="country" id="country"></p>
                        <p class="state"><strong>Region:</strong>
                            <p class="state" id="state"></p>
                            <p class="city"><strong>City:</strong>
                                <p class="city" id="city"></p>
            </div>
            <hr style="border-color: #3a3f48;">
            <div style="padding-left: 20px;">
                <p><strong>Email:</strong></p>
                <p>{{user.email}}</p>
            </div>
        </div>




        <!-- page-wrapper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>


        <script>
            jQuery(function ($) {

                $("#close-sidebar").click(function () {
                    $(".page-wrapper").removeClass("toggled");
                });
                $("#show-sidebar").click(function () {
                    $(".page-wrapper").addClass("toggled");
                });
                setInterval(function () {
                    var color = $('.darkmode--activated .navigation-wrap').css('background-color');
                    value = "rgb(33, 33, 33)"
                    if (color == value) {
                        $('#darkButton').html('DARK MODE')
                    } else {
                        $('#darkButton').html('LIGHT MODE')
                    }
                }, 50)



            });
        </script>
        <script>
            window.onload = function closeTab() {
                $(".page-wrapper").removeClass("toggled");
            }
        </script>
        <script src='../../static/users/assets/js/GetTeamStats.js'></script>
        <script>
            var isChecked = "{{isChecked}}"
            if(isChecked == "True"){
                document.getElementById("cbx").checked = true;
            }
            else{
                document.getElementById("cbx").checked = false;
            }

            var f_name = '{{p_fn}}'
            var l_name = '{{p_ln}}'
            document.getElementById("form-first_name").value = f_name;
            document.getElementById("form-last_name").value = l_name;
        </script>
        </body>

        </html>
        {%endblock content%}