{%extends 'users/base.html'%}

{%block styles%}
{%endblock styles%}

{%block content%}
</br>
</br>
</br>
</br>
<script type="text/javascript" >
    var team_num = {{user.team_num}};

    function changeName(){
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + team_num + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            $("#teamName").html(jObject['nickname']);
        }).fail(function(){
            $("#teamName").html("Invalid team number...");
        });
    }
</script>
<div class="container">
    <p class="display-4">{{user.username}} from Team {{user.team_num}} is logged in</p>
</div>
{%endblock content%}