{%extends 'users/base.html'%}

{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/register.css">
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">

{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<script>
window.onload = async function changeRegName(){
        var teamNumber = $("#team_num_reg").val();
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            $("#welcome-team").html("Welcome to the" + " " + '"' + jObject['nickname'] + '"');
        }).fail(function(){
            $("#welcome-team").html("Invalid team number...");
        });
    }

    function changeRegName(){
        var teamNumber = $("#team_num_reg").val();
        $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
            var jObject = (data);
            $("#welcome-team").html("Welcome" + " " + '"' + jObject['nickname'] + '"');
        }).fail(function(){
            $("#welcome-team").html("Invalid team number...");
        });
    }(changeRegName(), 100)
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


<div class=form>
<div class="card" id="cred-card" style="transform: translateY(-10%);">
    <h1 id="login-head" style="margin-left: 15%; padding-bottom: 20px;">Register</h1>
    <form id="registerForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label id="label">Username</label>
            {{form.username}}
            <!-- <input class="form-control" type="number" id="team" placeholder="Enter Team Number">-->
        </div>
        <div class="form-group">
            <div>
                {% for message in messages%}
                    <small id="error" style="font-size: x-small;">{{message}}</small>
                {%endfor%}
            </div>
            <label id="label">Email</label>
            {{form.email}}
            <!--<input class="form-control" type="email" id="email" placeholder="Enter Email">-->
        </div>
        <div class="form-group">
            <label id="label">Password</label>
            {{form.password}}
            <p id='pass-letter'>Password must have at least 1 uppercase letter</p>
            <p id='pass-character'>Password must contain 6 or more characters</p>
            <p id='pass-similar'>Password must not be too similar to email</p>
            <p id='pass-number'>Password must have at least 1 number</p>
            
            <!--<input class="form-control" type="password" id="password" placeholder="Enter Password">-->
        </div>
        <div class="form-group">
            <label id="label">Verify Password</label>
            <input class="form-control" type="password" id="password-match" placeholder="Verify Password">
            <p id='pass-match'>Passwords Match</p>
            </div>
        <div class="form-group">
            <label id="label">Team Number</label>
            {{form.team_num}}
            <!-- <input class="form-control" type="number" id="team" placeholder="Enter Team Number">-->
        </div>
        

<script>
    
    $(document).ready(function(){

        $("#password-form").keyup(function() {


            var goodColor = "#66cc66";
            var badColor = "#ff6666";

            var email = $('#email-form').val()

            var name = email.substring(0, email.lastIndexOf("@"));
            
            if(name == this.value){
                document.getElementById('pass-similar').style.color  = badColor
            }
            else{
                document.getElementById('pass-similar').style.color  = goodColor
            }
            
            
            //check if password is long enough
            if(this.value.length >= 6) {
                document.getElementById('pass-character').style.color  = goodColor
            }
            else{
                document.getElementById('pass-character').style.color  = badColor
            }

            //check if password has a number
            var hasNumber = /\d/;
            if(hasNumber.test($("#password-form").val())) {
                document.getElementById('pass-number').style.color  = goodColor

            }
            else{
                document.getElementById('pass-number').style.color  = badColor
            }

            var hasUppercase = /[A-Z]/

            if(hasUppercase.test($("#password-form").val())){
                document.getElementById('pass-letter').style.color  = goodColor
            }
            else{
                document.getElementById('pass-letter').style.color  = badColor
            }


            
    });

    $("#email-form").keyup(function() {

        var goodColor = "#66cc66";
        var badColor = "#ff6666";

        if(name == $("#password-form").val()){
            document.getElementById('pass-similar').style.color  = badColor
            }
        else{
            document.getElementById('pass-similar').style.color  = goodColor
            }
    })
    });


    $(document).ready(function(){

        $("#password-match").keyup(function() {


            var goodColor = "#66cc66";
            var badColor = "#ff6666";

            console.log($("#password-match").val())
            console.log($("#password-form").val())
            
            if($("#password-match").val() == $("#password-form").val()){
                document.getElementById('pass-match').style.color  = goodColor
                console.log("TEST")
            }
            else{
                document.getElementById('pass-match').style.color  = badColor
            }
            
        })
    
});
        
</script>
<!--<input class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>-->
{{form.is_team_admin}}
<label class="cbx" for="cbx"><span>
    <svg width="12px" height="10px" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </svg></span><span id="checkbox-text">I'm a Team Leader</span></label>

<p class="text-color-theme" id="welcome-team"></p>

        <button id="submit" type="submit" class="btn btn-primary">Register</button>

        <strong><div class="hr-sect">Login if you already have an account</div></strong>
    </form>
<a href="{% url 'login-view' %}" id="login" class="btn btn-primary">Login</a>
</div>
<br>
<br>
<br>


{%endblock content%}