{%extends 'users/base.html'%}

{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/scout.css">
{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9154118566190557",
        enable_page_level_ads: true
    });
</script>

<link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<title>FRCS Scouting</title>
<script>
  window.onload = async function getTeamNumber(){
        
	var team = prompt("Enter Team Number")
	$("#teamNumberHeader").html(team);
	$.get("https://www.thebluealliance.com/api/v3/team/frc" + team + "/events/2020/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data) {
	var jObject = (data);
    for(var i=0; i<data.length; i++){
    var obj = jObject[i];
    key = obj.event_code;
    var date = obj.start_date;
	console.log(date)
    console.log(key)
    }
})}

	if(team == null){
		$("#teamNumberHeader").html("Error");

	}
	


async function changeTeams(){    
    $(document).ready(function () {
    $.get("https://www.thebluealliance.com/api/v3/event/2019" + key + "/matches", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data) {    
    var matchNumber = document.getElementById("matchNumber").value;
    var match = document.getElementById('matchNumber').value;
    var jObject = (data);
    console.log(data);
    var data = jObject[match];
    var teamsB = data.alliances.blue.team_keys;
    var teamsR = data.alliances.red.team_keys;
    var MT = data.comp_level;
    var qm = "qm";
    var qf = "qf"
    var sf = "sf"
    if(MT == qm){
        document.getElementById("matchType").innerHTML = "Qualifing Match";
    }
    if(MT == qf){
        document.getElementById("matchType").innerHTML = "Quarter-Final";
    }
    if(MT == sf){
        document.getElementById("matchType").innerHTML = "Semi-Final";
    }

    teamsB.forEach(function(name){
    var option = "<option  value='" + name + "'>" + name + "</option>";
    document.getElementById('teamNumber').innerHTML += option; 
        })

    teamsR.forEach(function(name){
    var option = "<option value='" + name + "'>" + name + "</option>"
    document.getElementById('teamNumber').innerHTML += option; 
        })
    });
});
}

async function changeName(){
    var value = $("#teamNumber option:selected").text();      
    $(document).ready(function () {
    $.get("https://www.thebluealliance.com/api/v3/team/" + value + "/simple",{"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data) {
    var jObject = (data);
    var name = (jObject['nickname']);
    document.getElementById("teamName").innerHTML = name
    });
});
}

</script>
</body>
<style>
    .darkmode--activated i {
        color: black;
    }
</style>
</br>
</br>
</br>
</br>

<div class="form">
    <div class="header">
        <h1 id="scoutfor">Team<h1 id="teamNumberHeader"></h1> </h1>
        <p id="teamNameHeader"></p>
    </div>

    <div class="formContents">
        <form method="post">
  
            <p id="label">Match Number</p>
            <input class="form-control" type="number" id="matchNumber" name="matchNumber" onchange="changeTeams()" placeholder="00" />
            <p id="matchType" class="matchType"><i class="matchTypeChange"></i></p>

            <br>

            <p id="label">Team Number</p>
            <select id="teamNumber" class="custom-select" onchange="changeName()">
            <option>Select Team</option>
            
            </select>
            <p id="teamName" class="teamName"><i class="teamNameChange">The Unknown Bulls</i></p>
            <br>


            <h1 id="entry_title">Pregame</h1>
            <hr>
            </br>

            <p id="label">Starting Position</p>
            <select name="startingPosition" id="startingPosition" class="custom-select">
                <option value="0:Left,Middle,Right">Left</option>
                <option value="1:Left,Middle,Right">Middle</option>
                <option value="2:Left,Middle,Right">Right</option>
            </select>
            </br>
            </br>


            <p id="label">Starting Height Level</p>
            <select name="startingHeightLevel" id="startingHeightLevel" class="custom-select">
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
            </select>
            </br>
            </br>


            <p id="label">Crosses HAB Line in Sandstorm</p>
            <select id="crossesHABLine" name="crossesHABLine" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>
            </br>
            </br>

            <p id="label">Hatches Placed During Sandstorm</p>
            <select id="hatchesPlacedDuringSandstorm" name="hatchesPlacedDuringSandstorm" class="custom-select">
            <script>
            for(var HPDSS=0;HPDSS<=20;HPDSS++)
            {
            document.write("<option>"+HPDSS+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Cargo Placed During Sandstorm</p>
            <select id="cargoPlacedDuringSandstorm" name="cargoPlacedDuringSandstorm" class="custom-select">
            <script>
            for(var CPDSS=0;CPDSS<=20;CPDSS++)
            {
            document.write("<option>"+CPDSS+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Preloaded Cargo Ship Piece 1</p>
            <select id="preloadedCGSItem1" name="preloadedCGS1Item1" class="custom-select">
                <option value="0:Cargo,Panel">Cargo</option>
                <option value="1:Cargo,Panel">Panel</option>
            </select>
            </br>
            </br>

            <p id="label">Preloaded Cargo Ship Piece 2</p>
            <select id="preloadedCGS2Item2" name="preloadedCGS2Item2" class="custom-select" required="required">
                <option value="0:Cargo,Panel">Cargo</option>
                <option value="1:Cargo,Panel">Panel</option>
            </select>
            </br>
            </br>

            <h1 id="entry_title">Midgame</h1>
            <hr>
            </br>

            <p id="label">Number of Hatches placed on Tier 1 of rocket</p>
            <select id="midHatchesOnT1Rocket" name="midHatchesOnT1Rocket" class="custom-select">
            <script>
            for(var MHT1R=0;MHT1R<=4;MHT1R++)
            {
            document.write("<option>"+MHT1R+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Number of Hatches placed on Tier 2 of rocket</p>
            <select id="midHatchesOnT2Rocket" name="midHatchesOnT2Rocket" class="custom-select">
            <script>
            for(var MHT2R=0;MHT2R<=4;MHT2R++)
            {
            document.write("<option>"+MHT2R+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Number of Hatches placed on Tier 3 of rocket</p>
            <select id="midHatchesOnT3Rocket" name="midHatchesOnT3Rocket" class="custom-select">
            <script>
            for(var MHT3R=0;MHT3R<=4;MHT3R++)
            {
            document.write("<option>"+MHT3R+"</option>");
            }
            </script>
            </select>
            </br>
            </br>
            <p id="label">Number of Cargo placed on Tier 1 of rocket</p>
            <select id="midCargoOnT1Rocket" name="midCargoOnT1Rocket" class="custom-select">
            <script>
            for(var MCT1R=0;MCT1R<=4;MCT1R++)
            {
            document.write("<option>"+MCT1R+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Number of Cargo placed on Tier 2 of rocket</p>
            <select id="midCargoOnT2Rocket" name="midCargoOnT2Rocket" class="custom-select">
            <script>
            for(var MCT2R=0;MCT2R<=4;MCT2R++)
            {
            document.write("<option>"+MCT2R+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Number of Cargo placed on Tier 3 of rocket</p>
            <select id="midCargoOnT3Rocket" name="midCargoOnT3Rocket" class="custom-select">
            <script>
            for(var MCT3R=0;MCT3R<=4;MCT3R++)
            {
            document.write("<option>"+MCT3R+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Number of Cargo placed in cargo ship</p>
            <select id="midCargoPlacedInShip" name="midCargoPlacedInShip" class="custom-select">
            <script>
            for(var MCS=0;MCS<=8;MCS++)
            {
            document.write("<option>"+MCS+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Number of hatches placed on cargo ship</p>
            <select id="midHatchesPlacedInShip" name="midHatchesPlacedInShip" class="custom-select">
            <script>
            for(var MHS=0;MHS<=8;MHS++)
            {
            document.write("<option>"+MHS+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Is defense played?</p>
            <select id="midDefensePlayed" name="midDefensePlayed" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>
            </br>
            </br>

            <p id="label">What percent of time is defense played? <i>(Estimation)</i></p>
            <input class="form-control" type="number" name="midDefensePlayedPercent" id="midDefensePlayedPercent" max="100" min="0" />
            </br>


            <h1 id="entry_title">Endgame</h1>
            <hr>
            </br>

            <p id="label">At what level did the robot end the game?</p>
            <select id="endLevel" name="endLevel" class="custom-select"><script>
            for(var ENDLVL=0;ENDLVL<=4;ENDLVL++)
            {
            document.write("<option>"+ENDLVL+"</option>");
            }
            </script>
            </select>
            </br>
            </br>

            <p id="label">Did the robot use Level 2 to get to Level 3? <i>(If they didn't make it to 2 or three just select no)</i></p>
            <select id="end2to3" name="end2to3" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>
            </br>
            </br>


            <p id="label">Did the robot have the help of another robot to "climb"?</p>
            <select id="endHelpClimb" name="endHelpClimb" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>
            </br>
            </br>

            <h1>Miscellaneous</h1>
            <hr>
            </br>
            <p id="label">Did the robot have any penalties during the match?</p>
            <select id="miscPenalties" name="miscPenalties" class="custom-select">
                <option value="0:None,Yellow,Red">None</option>
                <option value="0:No,Yellow,Red">Yellow</option>
                <option value="1:No,Yellow,Red">Red</option>
            </select>
            </br>


            <br>
            <p id="label">Any notes about this team? (Human player mistakes, etc...) If none, please leave blank.</p>
            <input class="form-control" type="text" id="notes" name="notes" placeholder="Notes" />
            <br>

            <input class="form-control" type="hidden" name="team_code" id="team_code" value="" />
            <input class="form-control"type="submit" value="Submit Scouting Data" class="submit_form" />
            </br>
        </form>
    </div>
</div>
<br>
<script src="../../static/users/assets/js/GetScoutData.js"></script>
{%endblock content%}