{%extends 'users/base.html'%}
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
{%block styles%}
{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff', // default: '#fff'
        buttonColorDark: '#100f2c', // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);

    function toggle() {
        darkmode.toggle();

    }
</script>
</br>
</br>
</br>
</br>
<script type="text/javascript">
    var team_num = {{user.team_num}};
</script>
<div class="container">
    <center>
        <h1 id="loginStats" class="display-4">Team Management</h1>
    </center>
</div>
<br>
<hr>

<h1 style="font-size: 20px; padding-left: 12.5%;">Team Members</h1>

<center style="padding-top: 20px;">
    <div class="table-responsive-md">
        <table style="width: 75%;" id="data-table" class="table table-borderless">
            <tr>
                <th class="col-1" id="scout-team-col">Team Members</th>
            </tr>

            <div>

                {%for user in users%}
                <tr>
                    <td id="teamCount"><strong><a>{{user.username}}</a></strong><a href="{% url 'management-user-view' user.profile %}" style="float: right; cursor: pointer; color: lightblue;"><strong id='modify-btn'>Edit User</strong></a></td>
                    <!--<td id="dataCount"><strong>0</strong></td>-->
                </tr>
                {%endfor%}
        </table>
    </div>
</center>
<br>
<hr>
<script src='../../static/users/assets/js/GetTeamStats.js'></script>
{%endblock content%}