{%extends 'users/base.html'%}

{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/register.css">
<link rel="stylesheet" href="../../static/users/assets/css/bg.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

{%endblock styles%}
{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<body>
<div class=form>
    {% csrf_token %}
    <form id="loginForm" method="POST">
        <div class="form-group">
            <label>Verification Code</label>
             <input method="post" class="form-control" type="text" id="VID-form" placeholder="Enter verification code">
        </div>

        <button id="submit" type="submit" class="btn btn-primary">Verify Account</button>

    </form>
</div>
</br>
<script>
    $(document).ready(function(){
     setInterval(function(){
        if($('#VID-form').val().length == 7){
            console.log("TEST")
            $('.submit').css({"background-image": "linear-gradient(90deg, #8A2387, #e94057,#F27121)"});
        }
        else{
            
            $('.submit').css({"background-image": ""});
        }
    }, 300);
    });
        
</script>
{%endblock content%}