{% extends 'users/base.html' %}

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.3/lib/darkmode-js.min.js"></script>
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
{%block styles%} 
{%endblock styles%}
{%block content%}
<br>
<br>
<br>
<br>

<h1 id="welcome1">WELCOME TEAM<h1 id="team-num-welcome">810</h1><p id="glad">WERE GLAD YOU'RE HERE</p>
<button class="volume-control">Go To Profile
	</button>

{%endblock content%}