{% extends 'users/base.html' %}



{%block styles%} 
{%endblock styles%}

{%block content%}
<script>

window.onload = async function changeName(){
$.get("https://www.thebluealliance.com/api/v3/team/frc" + {{user.team_num}} + "/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data){
    var jObject = (data);
    var name = jObject['nickname'];
    $("#team_welcome").html('"' + name + '"');
    })
}
</script>
<br>
<br>
<br>
<br>
<h1 id="welcome1">WELCOME {{user.username}} FROM TEAM</h1>
<h1 id="num_wel">{{user.team_num}}</h1>
<h1 id="team_welcome"></h1>
<p id="glad">WE'RE GLAD YOU'RE HERE</p>
<hr>
<br>
<p id="glad">Verify Your Account</p>
<center><p style="width:75%;" id="glad">An email should have been sent out to verify your account, if not click the resend email button</p></center>
<br>
<center><a style="color: blue; cursor: pointer;">Resend Email</a></center>
<script>
</script>

<br>
<button onclick= "window.location = {% url 'profile-view' %}" class="volume-control">Go To Profile</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{%endblock content%}