*:focus {
    outline: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
}

.darkmode--activated body{
    background-color: #111111;
}

/*.navigation button sup{*/
/*position: relative;*/
/*display: block;*/
/*top: -10px;*/
/*left: -5px;*/
/*padding: 0.5%;*/
/*background-color: green;*/
/*color: white;*/
/*border-radius: 5px;*/
/*}*/


li a{
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;

}

ul li{
    display: inline;

}

#dataTable{
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
    overflow-x: hidden;
    font-size: 4vw;
    
}
#dataTableDiv {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

th, td{
    padding-left: 20px;
    padding-right: 20px;
}

td{
    text-align: center;
}
#textBlock{

        margin: 0 auto;
        margin-top: 3%;
        color: black;
        width: 97%;
        background-color: white;
        border-radius: 10px;
        padding-top: 1%;
        padding-bottom: 1%; text-align: center;
	    border-radius: 2em;
	    background-color: #f1f3f6;
	    box-shadow: inset 0.007em 0.007em 0.034em rgba(255, 255, 255, 0.3), 0.0503em 0.0503em 0.135em rgba(55, 84, 170, 0.1), -0.0503em -0.0503em 0.135em #fff;
        border: 0.004em solid rgba(255, 255, 255, 0.3);
}

#blockText{
    font-size: calc(1em + 3vw);
}

#blockText2, #blockText3, #blockText4{
    font-size: calc(1em + 3vw);
}

.darkmode--activated #textBlock{
    background-color: #f1f3f6;
    box-shadow: inset 0.007em 0.007em 0.034em rgba(255, 255, 255, 0.3), 0.0503em 0.0503em 0.135em rgba(55, 84, 170, 0.1), -0.0503em -0.0503em 0.135em #fff;
    border: 0.004em solid rgba(255, 255, 255, 0.3);
}

#textBlockStats{

    margin: 0 auto;
    margin-top: 3%;
    color: black;
    width: 97%;
    background-color: white;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%; text-align: center;
    margin-top: 20px;
    border-radius: 2em;
    background-color: #f1f3f6;
    box-shadow: inset 0.007em 0.007em 0.034em rgba(255, 255, 255, 0.3), 0.0503em 0.0503em 0.135em rgba(55, 84, 170, 0.1), -0.0503em -0.0503em 0.135em #fff;
    border: 0.004em solid rgba(255, 255, 255, 0.3);
}

.darkmode--activated #textBlockStats{
background-color: #f1f3f6;
box-shadow: inset 0.007em 0.007em 0.034em rgba(255, 255, 255, 0.3), 0.0503em 0.0503em 0.135em rgba(55, 84, 170, 0.1), -0.0503em -0.0503em 0.135em #fff;
border: 0.004em solid rgba(255, 255, 255, 0.3);
}

.darkmode--activated #blockText{
    color: black;
}

#search-bar{
    width: 40%;
}

#search-bar:focus{
    animation: expand .3s ease-in-out;
    animation-fill-mode: forwards;
}



#search-bar:not(:focus){
    animation: retract .3s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes expand{
    from{
        width: 40%;
    }
    to{
        width: 70%;
    }
    
}

@keyframes retract{
    from{
        width: 70%;
    }
    to{
        width: 40%;
    }
    
}