{%extends 'users/base.html'%}
{% load widget_tweaks %}
{%block styles%}
<link rel="stylesheet" href="../../static/users/assets/css/scout.css">

<script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
{%endblock styles%}

{%block content%}
<script>
    var options = {
        bottom: '64px', // default: '32px'
        right: 'unset', // default: '32px'
        left: '32px', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#dedede', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    function toggle(){
        darkmode.toggle();

    }
</script>
<script>
async function changeName(){
    var teamNumber = $("#teamNumber").val();
    $(document).ready(function () {
    $.get("https://www.thebluealliance.com/api/v3/team/frc" + teamNumber + "/simple",{"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data) {
    var jObject = (data);
    console.log(jObject)
    var name = (jObject['nickname']);
    document.getElementById("teamName").innerHTML = team;
    });
});
}

	

</script>
<!--<script>
    window.onload = async function getTeamNumber(){
    var team = {{team_num}};
    $("#teamNumberHeader").html(team);
    $.get("https://www.thebluealliance.com/api/v3/team/frc" + team + "/events/2020/simple", {"X-TBA-Auth-Key": "PzOW8s1DYGlVkgAsikwVlhy5wZ5Tm85fKSjd0DfiUJFQOGhsReyZEf88EEoAU1Cw"}, function(data) {
    var jObject = (data);
    console.log(data);
    for(var i=0; i<data.length; i++){
        
    var obj = jObject[i];
    var comp = obj.name;

    key = obj.event_code;
    var date = obj.start_date;
    console.log(date)
    console.log(key)
    var option = "<option id='compValueDrop' value=" + key + "></option>" + comp + "</option>"
    //document.getElementById('getCompDrop').innerHTML += option;
    }
})}-->

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<title>FRCS Scouting</title>
</body>
<style>


    .darkmode--activated i {
        color: black;
    }
</style>
</br>
</br>
</br>
</br>
</style>
<div class="form">
    <div class="header">
        <h1 id="scoutfor">Game Scout<h1 id="teamNumberHeader"></h1> </h1>
        <p id="teamNameHeader"></p>
    </div>

    <div class="formContents">
        <form name="scoutForm" method="post">
            {%csrf_token%}
            <p id="label">Competition</p>
            <!--<select id="getCompDrop" name="Comp" class="custom-select" onclick="getCompData()">
                <option>Select Competition</option>
            </select>-->
            {{ form.competition|attr:"class:form-control"|attr:"placeholder:Competition"|attr:"onclick: getCompData()" |attr:"name: Comp"|attr:"id: getCompDrop" }}
            </br>
            
            <p id="label">Match Number</p>
            <!--<input class="form-control" type="number" id="matchNumber" name="matchNumber" onchange="changeTeams()" placeholder="00" />
            <p id="matchType" class="matchType"><i class="matchTypeChange"></i></p>-->
            {{ form.match_number|attr:"class:form-control"|attr:"placeholder:00"|attr:"onchange: changeTeams()" |attr:"name: matchNumber"|attr:"id: matchNumber" |attr:"min: 0"}}
            <br>

            <p id="label">Match Type</p>
            <!--<select id="matchTypeOp" name="matchTypeOp" class="custom-select" onchange="changeTeams()">
                <option value="qm">Qualifying Match</option>
                <option value="qf">Quarter Final</option>
                <option value="sf">Semi Final</option>
                <option value="f">Final</option>
                <option value="ef">Elimination Final</option>
            </select>-->
            {{ form.match_type|attr:"class:custom-select"|attr:"placeholder:Qualifying Match"|attr:"onchange: changeTeams()" |attr:"name: matchTypeOp"|attr:"id: matchTypeOp"}}
            </br>

            <p id="label">Team Number</p>
            <!--<select id="teamNumber" class="custom-select" name="teamNumber" onchange="changeName(); changeTeams()">
            <option>Select Team</option>
            </select>-->
            {{ form.scouted_team_num |attr:"onchange:'changeName()'" |attr:"class:custom-select"|attr:"placeholder:00"|attr:"name: teamNumber"|attr:"id:teamNumber"|attr:"min: '0'" }}
            <p id="teamName" class="teamName"><i class="teamNameChange">Unknown Team</i></p>
            <br>
            <div id="failsafe"></div>
            <div id="teamNumberInput"></div>
            

            <h1 id="entry_title">Autonomous Period</h1>
            <hr id="hr">
            </br>

            <p id="label">Does the Robot Pass the Initiation Line?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>-->
            {{ form.initiation_line|attr:"class:custom-select"|attr:"placeholder:No"|attr:"name: controlPanel"|attr:"id: controlPanel" }}
            </br>
            </br>

            <p id="label">Low Goal Power Cells Scored?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>-->
            {{ form.auto_low_goal_scored|attr:"class:custom-select"|attr:"placeholder:00"|attr:"name: controlPanel"|attr:"id: controlPanel" |attr:"min: 0"|attr:"max:100"}}
            </br>
            </br>

            <p id="label">Higher Outer Goal Power Cells Scored?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>-->
            {{ form.auto_outer_goal_scored|attr:"class:custom-select"|attr:"placeholder:00"|attr:"name: controlPanel"|attr:"id: controlPanel"|attr:"min: 0"|attr:"max:100" }}
            </br>
            </br>

            <p id="label">Higher Inner Goal Power Cells Scored?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>-->
            {{ form.auto_inner_goal_scored|attr:"class:custom-select"|attr:"placeholder:00"|attr:"name: controlPanel"|attr:"id: controlPanel" |attr:"min: 0"|attr:"max:100"}}
            </br>
            </br>

            <h1 id="entry_title">Midgame</h1>
            <hr id="hr">
            </br>

            <p id="label">How Many Power Cells Does The Robot Score In The Low Goal?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>-->
            {{ form.low_goal_scored|attr:"class:custom-select"|attr:"placeholder:00"|attr:"name: controlPanel"|attr:"id: controlPanel"|attr:"min: 0"|attr:"max:100" }}
            </br>
            </br>

            <p id="label">How Many Power Cells Does The Robot Score In The High Outer Goal?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>-->
            {{ form.outer_goal_scored|attr:"class:custom-select"|attr:"placeholder:00"|attr:"name: controlPanel"|attr:"id: controlPanel" |attr:"min: 0"|attr:"max:100"}}
            </br>
            </br>

            <p id="label">How Many Power Cells Does The Robot Score In The High Inner Goal?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
            <script>
            for(var i=0;i<=20;i++)
            {
            document.write("<option value=" +i+">"+i+"</option>");
            }            
            </script>
            </select>-->
            {{ form.inner_goal_scored|attr:"class:custom-select"|attr:"placeholder:00"|attr:"name: controlPanel"|attr:"id: controlPanel"|attr:"min: 0"|attr:"max:100" }}
            </br>
            </br>

            <p id="label">Does The Bot Complete Rotational Control? </p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>-->
            {{ form.control_panel_rot|attr:"class:form-control"|attr:"name: controlPanel"|attr:"id: controlPanel" }}
            </br>
            </br>

            <p id="label">Does The Bot Complete Positional Control?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>-->
            {{ form.control_panel_pos|attr:"class:form-control"|attr:"placeholder:00"|attr:"name: controlPanel"|attr:"id: controlPanel" }}
            </br>
            </br>
            
            
            <h1 id="entry_title">Endgame</h1>
                <hr id="hr">
                </br>

            <p id="label">Does The Robot Climb?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>-->
            {{ form.robot_climb|attr:"class:custom-select"|attr:"placeholder:No"|attr:"name: controlPanel"|attr:"id: controlPanel" }}
            </br>
            </br>

            <p id="label">Does the robot help level the generator?</p>
            <!--<select id="controlPanel" name="controlPanel" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>-->
            {{ form.robot_generator|attr:"class:custom-select"|attr:"placeholder:No"|attr:"name: controlPanel"|attr:"id: controlPanel" }}
            </br>
            <br>
            
            <p id="label">Did the robot have the help of another robot to climb?</p>
            <!--<select id="endHelpClimb" name="endHelpClimb" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>-->
            {{ form.robot_climb_help|attr:"class:custom-select"|attr:"placeholder:No"|attr:"name: endHelpClimb"|attr:"id: endHelpClimb" }}
            </br>
            <br>

            <h1>Overall</h1>
            <hr id="hr">
            </br>


            <p id="label">Is Defense Played?</p>
            <!--<select id="midDefensePlayed" name="midDefensePlayed" class="custom-select">
                <option value="0:No,Yes">No</option>
                <option value="1:No,Yes">Yes</option>
            </select>-->
            {{ form.defense_played|attr:"class:custom-select"|attr:"placeholder:No"|attr:"name: midDefensePlayed"|attr:"id: midDefensePlayed" }}
            </br>
            </br>

            <p id="label">What percent of time is defense played? <i>(Estimation)</i></p>
            <!--<input class="form-control" type="number" name="midDefensePlayedPercent" id="midDefensePlayedPercent" max="100" min="0" />-->
            {{ form.defense_percentage|attr:"class:form-control"|attr:"placeholder:00"|attr:"name: midDefensePlayedPercent"|attr:"id: midDefensePlayedPercent"|attr:"min: 0"|attr:"max:100" }}
            </br>



            
            

            <p id="label">Did the robot have any penalties during the match?</p>
            <!--<select id="miscPenalties" name="miscPenalties" class="custom-select">
                <option value="0:None,Yellow,Red">None</option>
                <option value="0:No,Yellow,Red">Yellow</option>
                <option value="1:No,Yellow,Red">Red</option>
            </select>-->
            {{ form.penalties|attr:"class:custom-select"|attr:"placeholder:No"|attr:"name: miscPenalties"|attr:"id: miscPenalties" }}
            </br>


            <br>
            <label id="label" for="notes">Notes</label>
                <!--<textarea class="form-control" id="notes-text" rows="3"></textarea>-->
                {{ form.notes|attr:"class:form-control"|attr:"rows:3"|attr:"id: notes-text" }}
            </div>
            <br>

<input class="inp-cbx" id="cbx" type="checkbox" style="display: none;" onchange="ShowButton()" />
<label class="cbx" for="cbx"><span>
    <svg width="12px" height="10px" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </svg></span><span id="checkbox-text">Check to Confirm Submission</span></label>
    <br>
                <input id="submit" class="form-control"type="submit" value="Submit Scouting Data" class="submit_form"/>
            </br>
        </form>
    </div>
</div>
<script>
 function ShowButton(){
  var checkBox = document.getElementById("cbx");
  var text = document.getElementById("submit");

    if (checkBox.checked == true){
        text.style.display = "block";
    } 
    if(checkBox.checked == false) {
        text.style.display = "none";
  }
}

 window.onload = function ShowButton(){
  var checkBox = document.getElementById("cbx");
  var text = document.getElementById("submit");
    checkBox.checked == false;
    if (checkBox.checked == true){
        text.style.display = "block";
    } 
    if(checkBox.checked == false) {
        text.style.display = "none";
  }
}
</script>
<br>
<style>
.cbx {
margin-left: 15%;
-webkit-user-select: none;
user-select: none;
cursor: pointer;
}
.cbx span {
display: inline-block;
vertical-align: middle;
transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
position: relative;
width: 18px;
height: 18px;
border-radius: 3px;
transform: scale(1);
vertical-align: middle;
border: 1px solid #9098A9;
transition: all 0.2s ease;
}
.cbx span:first-child svg {
position: absolute;
top: 3px;
left: 2px;
fill: none;
stroke: #FFFFFF;
stroke-width: 2;
stroke-linecap: round;
stroke-linejoin: round;
stroke-dasharray: 16px;
stroke-dashoffset: 16px;
transition: all 0.3s ease;
transition-delay: 0.1s;
transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
content: "";
width: 100%;
height: 100%;
background: lightblue;
display: block;
transform: scale(0);
opacity: 1;
border-radius: 50%;
}
.cbx span:last-child {
padding-left: 8px;
}
.cbx:hover span:first-child {
border-color: lightblue;
}

.inp-cbx:checked + .cbx span:first-child {
background: lightblue;
border-color: lightblue;
animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
transform: scale(3.5);
opacity: 0;
transition: all 0.6s ease;
}

@keyframes wave {
50% {
  transform: scale(0.9);
}
}

.darkmode--activated #checkbox-text{
  color: white;
}


</style>
<script src="../../static/users/assets/js/GetScoutData.js"></script>
{%endblock content%}