.questions{
    font-size: calc(1vw + .6em);
    width: 95%;
}

.choiceyes{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);   
    font-weight: bold;
    cursor: default;
    background-color:#25d5c8;
    color: #fff;
}

.choiceno{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);   
    font-weight: bold;
    cursor: default;
    background-color:#f06061;
    color: #fff;
}

.choicepercent{
    width: calc(1vw + 1em);
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);   
    font-weight: bold;
    cursor: default;
    background-color: #60c0f0;
    color: #fff;
}

.choicepercent{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);   
    font-weight: bold;
    cursor: default;
    background-color: #60c0f0;
    color: #fff;
}

.choicepen{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);   
    font-weight: bold;
    cursor: default;
    background-color: #eef060;
    color: #fff;
}


.darkmode--activated .choiceyes{
    background-color:#da2a37;
    color: black;
}

.darkmode--activated .choiceno{
    background-color:#0f9f9e;
    color: black;
}

.darkmode--activated .choicepercent{
    background-color: #9f3f0f;
    color: black;
}


.darkmode--activated .choicepen{
    background-color:#110f9f;
    color: white;
}


.darkmode--activated .questions{
    color: black;
}


.darkmode--activated .notes{
    color: black;
}

.darkmode--activated .warning{
    color: black;
}
