.questions{
    font-size: 30px;
    width: 95%;
}

.choiceyes{
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 1px 1px 30px 0 rgba(50,56,66,.1);   
    font-weight: bold;
    cursor: default;
    background-color:#25d5c8;
    color: #fff;
}

.choiceno{
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 1px 1px 30px 0 rgba(50,56,66,.1);   
    font-weight: bold;
    cursor: default;
    background-color:#f06061;
    color: #fff;
}

.choicepercent{
    width: 400px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 1px 1px 30px 0 rgba(50,56,66,.1);   
    font-weight: bold;
    cursor: default;
    background-color: #60c0f0;
    color: #fff;
}

.choicepercent{
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 1px 1px 30px 0 rgba(50,56,66,.1);   
    font-weight: bold;
    cursor: default;
    background-color: #60c0f0;
    color: #fff;
}

.choicepen{
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding: 10px;        
    font-size: 20px;
    box-shadow: 1px 1px 30px 0 rgba(50,56,66,.1);   
    font-weight: bold;
    cursor: default;
    background-color: #eef060;
    color: #fff;
}


.darkmode--activated .choiceyes{
    background-color:#da2a37;
    color: black;
}

.darkmode--activated .choiceno{
    background-color:#0f9f9e;
    color: black;
}

.darkmode--activated .choicepercent{
    background-color: #9f3f0f;
    color: black;
}


.darkmode--activated .choicepen{
    background-color:#110f9f;
    color: white;
}


.darkmode--activated .questions{
    color: black;
}


.darkmode--activated .notes{
    color: black;
}

.darkmode--activated .warning{
    color: black;
}


