html{
    font-family: 'poppins';
}

.header{
    height: 50px;
    background-color: lightgray;
    width: 100%;
    top: 0%;
}

.t-1{
    font-size: 30px;
    padding-left: 20px;

}

.t-2{
    font-size: 20px;
}

