.title {
    text-align: center;
    padding-top: 100px;
    background-color: transparent;
    padding-bottom: 20px;
}

.info-card {
    height: 120;
    width: 225;
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    float: left;
    margin-right: 20px;
}

.info-nmbr {
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
    color: black;
}

.info-sbtl {
    padding-left: 20px;
    color: black;
    font-weight: 600;
}