.darkmode--activated #profile-drop-btn{
    border-color: white;
    color: white;
}
.darkmode--activated #profile-drop-btn:hover{
  background-color: #212121;
  border-color: black;
}


  @keyframes swing {
0% {
transform: rotate(0deg);
}
10% {
transform: rotate(10deg);
}
30% {
transform: rotate(0deg);
}
40% {
transform: rotate(-10deg);
}
50% {
transform: rotate(0deg);
}
60% {
transform: rotate(5deg);
}
70% {
transform: rotate(0deg);
}
80% {
transform: rotate(-5deg);
}
100% {
transform: rotate(0deg);
}
}

@keyframes sonar {
0% {
transform: scale(0.9);
opacity: 1;
}
100% {
transform: scale(2);
opacity: 0;
}
}

/*----------------page-wrapper----------------*/

.page-wrapper {
height: 100vh;
}

.page-wrapper .theme {
width: 40px;
height: 40px;
display: inline-block;
border-radius: 4px;
margin: 2px;
}

.page-wrapper .theme.chiller-theme {
background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
left: 0px;
padding-top: 20px;
}

@media screen and (min-width: 768px) {
.page-wrapper.toggled .page-content {
padding-left: 300px;
}
}
/*----------------show sidebar button----------------*/
#show-sidebar {
position: fixed;
left: 0;
top: 30px;
border-radius: 0 4px 4px 0px;
width: 35px;
transition-delay: 0.3s;
margin-top: 70px;
}
.page-wrapper.toggled #show-sidebar {
left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
width: 260px;
height: 100%;
max-height: 100%;
position: fixed;
top: 0;
left: -300px;
z-index: 999;
}

.sidebar-wrapper ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.sidebar-wrapper a {
text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
max-height: calc(100% - 30px);
height: calc(100% - 30px);
overflow-y: auto;
position: relative;
}

.sidebar-content.desktop {
overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
padding: 10px 20px;
display: flex;
align-items: center;
padding-top: 70px;
}

.sidebar-wrapper .sidebar-brand > a {
text-transform: uppercase;
font-weight: bold;
flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
cursor: pointer;
font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
padding: 20px;
overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
float: left;
width: 60px;
padding: 2px;
border-radius: 12px;
margin-right: 15px;
overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
object-fit: cover;
width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
font-size: 11px;
margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
font-size: 8px;
margin-right: 4px;
color: #5cb85c;
}



/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
background: #31353D;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
border-top: 1px solid #3a3f48;

}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
border-color: transparent;
box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
color: #16c7ff;
text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
color: #6c7b88;
}

.chiller-theme .sidebar-footer {
background: #3a3f48;
box-shadow: 0px -1px 5px #282c33;
border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
border-right: none;
}

#header-info{
font-size: 16px;
}

.darkmode--activated #team-code{
color: black;
font-weight: bold;
}
#darkButton{
color: #888888;
}

.btn-outline-light{
color: black;
border-color: black;

}
.darkmode--activated #nickname{
color: black;
}

#profile-drop-sel{
  color: black;
}

#profile-drop-sel:hover{
  background-image: linear-gradient(45deg,#8A2387, #e94057,#F27121);

}

.darkmode--activated #profile-drop-sel{
  color: white;
}

.profile-edit-container{
  padding-left: 20%;
}

#edit-btn{
  color: #add8e6;
}

.darkmode--activated #edit-btn{
  color: #522719;
}